<section>
<h1>Documenten</h1>
<p>Maak toegankelijke Word- en PDF-documenten</p>
</section>

<section>
<h2>Denk aan alternatieven</h2>
<p>Informatie liever in webpagina's publiceren dan in documenten</p>
</section>

<section>
<h2>Toegankelijke documenten</h2>
<ul>
<li>Zelfde principes gelden als voor webpagina's</li>
<li>Hoe je dat toepast, is in elk programma een beetje verschillend.</li>
<!--OUD? <li><a lang="en" target="tweede" href="https://adod.idrc.ocadu.ca/">Accessible Digital Office Document (ADOD) Project</a></li> -->
</ul>
</section>

<section>
<h2>Voorwaarden voor een toegankelijke PDF</h2>
<ol>
<li>Zorg voor toegankelijke brondocumenten(Word, Indesign,...).</li>
<li>Converteer het bronbestand op een goede manier naar een PDF met tags.</li>

<!--
<li><strong>Tagged PDF</strong> vanuit <a target="tweede" href="https://www.anysurfer.be/nl/in-de-praktijk/documenten/pdf/pdf-vanuit-word">Word</a> en <a target="tweede" href="https://www.anysurfer.be/nl/in-de-praktijk/documenten/pdf/indesign">InDesign</a></li> -->
</ol>

<p style="margin-top: 20px;">Lees in onze <a href="https://www.anysurfer.be/nl/documentatie/artikels/categorie/pdf-en-andere-documenten">artikels over PDF en andere documenten</a> hoe je dat kan doen.</p>
</section>

<section>
	<h2>Liever een opleiding volgen?</h2>
<ul>
	<li><a href="https://www.anysurfer.be/nl/diensten/opleidingen/pdf-met-word">Toegankelijke PDF-documenten vanuit Microsoft Word</a></li>
	<li><a href="https://www.anysurfer.be/nl/diensten/opleidingen/pdf-met-indesign">Toegankelijke PDF-documenten met Adobe InDesign</a></li>
</ul>
</section>


<!--
<section>
<h2>Formulieren</h2>
<ul>
<li>Webformulieren zijn het gemakkelijkst toegankelijk voor gebruikers, ontwikkelaars en ook voor gegevensverwerking</li>
<li>Het is mogelijk invulbare PDF-documenten te maken</li>
<li><a target="tweede" href="https://www.anysurfer.be/nl/documentatie/artikels/detail/formulieren-in-word-laten-invullen-geen-goed-idee">Niet in Word</a></li>
</ul>
</section>
-->