
<section>
<h1>Agenda</h1>
<ol>
<li>Waar moet je op letten bij het publiceren van content?</li>
<li>Praktische voorbeelden en oefenen in CMS</li>
</ol>
</section>

<section>
<h2>Toegang tot oefeningen</h2>
<ul>
<li>Surf naar <a target="tweede" href="https://demo.anysurfer.be/wp-login.php">https://demo.anysurfer.be/wp-login.php</a></li>
<li>Krijg een nummer aangewezen om in te loggen</li>
<li>Gebruikersnaam: <strong>gebruiker1</strong></li>
<li>Paswoord: <strong>Anysurfertraining</strong></li>
</ul>
<!--
<p>Bekijk het resultaat van je oefenpagina online: <a target="tweede" href="https://demo.anysurfer.be/nl/gebruiker-1/">https://demo.anysurfer.be/nl/gebruiker-1/</a></p>-->
</section>

<section>
<h2>Overzicht lesmateriaal</h2>
<ol>
<li><a href="https://slides.anysurfer.be/reveal/redac_nl.html#/3">Paginatitels</a></li>
<li><a href="https://slides.anysurfer.be/reveal/redac_nl.html#/4">Links</a></li>
<li><a href="https://slides.anysurfer.be/reveal/redac_nl.html#/5">Koppen en lijsten</a></li>
<li><a href="https://slides.anysurfer.be/reveal/redac_nl.html#/6">Afbeeldingen</a></li>
<li><a href="https://slides.anysurfer.be/reveal/redac_nl.html#/7">Gebruik van kleur</a></li>
<li><a href="https://slides.anysurfer.be/reveal/redac_nl.html#/8">Tabellen</a></li>
<li><a href="https://slides.anysurfer.be/reveal/redac_nl.html#/9">Video en geluid</a></li>
<li><a href="https://slides.anysurfer.be/reveal/redac_nl.html#/10">Te downloaden documenten</a></li> 
</ol>
</section>


