<section>
<h1>Links</h1>
<p>Maak linkteksten betekenisvol</p>
</section>

<section>
<img src="https://images.anysurfer.be/links/liens_ok_nl.png" alt="tekst die 3 blauw onderlijnde links bevat, bijvoorbeeld 'Vlaamse overheid'" />
<p>De linkteksten laten toe om te raden wat hun bestemming is.</p>
<aside class="notes">
Het voorbeeld toont 3 paragrafen zwarte tekst met daarin vier blauwe onderlijnde links: "Vlaamse Overheid", "hulpmiddel om een toegankelijkheidsverklaring op te stellen", "Belgisch invulassistent" en "Nederlandse invulassistent". De linkteksten laten toe om te raden wat hun bestemming is. </aside>
</section>

<section>
<h2>Waarom?</h2>
<p>Bezoekers "scannen" eerst ankerpunten (waaronder links) en lezen daarna (misschien) de rest van de tekst.</p>
</section>

<section>
<h3>Handig voor iedereen</h3>
<p><a target="tweede" href="http://www.seniorennet.be/Pages/Thuis_op_internet/computerhulp.php"><img src="https://images.anysurfer.be/links/klikhier.png" alt="Pagina met veel 'klik hier' links op seniorennet"></a></p>
<aside class="notes">Als een pagina enkel 'klik hier' links bevat, dan moet de gebruiker voor elke link de tekst voor of na de link lezen om te weten waarvoor de link dient. Dat is niet efficiënt.
</aside>
</section>

<section>
<h3>Zoom</h3>
<p><img src="https://images.anysurfer.be/links/zoom_klik_hier_seniorennet.png" alt="'Klik hier' link in ingezoomde seniorennet pagina" /></p>
<aside class="notes">Een slechtziende persoon die de zoom van de browser gebruikt heeft geen overzicht van de pagina. In dit voorbeeld kan de persoon de 'klik hier' link lezen maar niet de context die uitlegt waar de link naartoe gaat. 
</aside>
</section>

<section>
<h3>Schermlezer</h3>
<p><img class="stretch" src="https://images.anysurfer.be/links/nvda_link_lijst_klik_hier.png" alt="Link lijst in NVDA met een tiental 'Klik hier' links" /></p>
<aside class="notes">
Screenreadergebruikers kunnen de 'linklijst' gebruiken om efficiënter door een website te navigeren. Maar die functie is onbruikbaar als links niet betekenisvol zijn, zoals de 'klik hier' in het voorbeeld hierboven.
</aside>
</section>

<!--<section>
<img src="https://images.anysurfer.be/gijs/Computerhulp_SeniorenNet_-_de_startpagina_voor_senioren_de_actieve_50-plussers_2015-01-21_07-07-04.png" alt="VoiceOver link lijst seniorennet klik hier" />
</section>  -->


<section>
<h2>Een betekenisvolle link:</h2>
<ul>
<li>Maakt duidelijk wat het doel is</li>
<li>Is niet te lang en niet te kort</li>
<li>Verwittigt als link naar bestand of multimedia verwijst</li>
</ul>
</section>


<section>
<h3>Een link kondigt aan wat er gaat gebeuren</h3>
<ul>
<li>Een app downloaden: <a href="#">Download de NMBS app uit Apple Store</a></li>
<li>Geluid afspelen: <a href="#">Herbeluister het interview met minister X</a></li>
<li>PDF-document openen: <a href="#">Download onze tarieven(PDF)</a></li>
</ul>
</section>

<section>
<h2>Voorbeeld</h2>
<ul>
<li>
<p>Niet goed: <blockquote><a href="#">Klik hier</a> om het programma van het festival te lezen.</blockquote></p>
</li>
<li>
<p>Goed: <blockquote>Lees alle details in het <a href="#">programma van het festival</a>.</blockquote></p>
</li>
</ul>
</section>

<section>
<h2>Voorbeeld</h2>
<ul>
<li>
<p>Niet goed: <blockquote><a href="#">Klik hier als u gedetailleerde informatie wil lezen over onze diensten en over onze kortingsacties.</a></blockquote></p>
</li>
<li>
<p>Beter: <blockquote><a href="#">Meer over onze diensten en kortingsacties</a></blockquote></p>
</li>
</ul>
</section>

<section>
<h2>Voorbeeld</h2>
<ul>
<li>
<p>Niet goed: <blockquote>U vindt al onze prijzen in dit <a href="#">document</a> in PDF-formaat.</blockquote></p>
</li>
<li>
<p>Beter: <blockquote><a href="#">Download onze prijzen (PDF)</a>.</blockquote></p>
</li>
</ul>
</section>

<section>
<h2>Voorbeeld</h2>
<ul>
<li>
<p>Niet goed: <blockquote>Bekijk de video van het concert: <a href="#">https://www.videowebsite.com/HIAZM8764</a></blockquote></p>
</li>
<li>
<p>Beter: <blockquote><a href="#">Bekijk de video van het concert</a></blockquote></p>
</li>
</ul>
</section>

<section>
<h2>Oefening</h2>
<p>Bekijk kritisch alle linkteksten op je pagina en verbeter ze.</p>
</section>
