<section>
<h1>Paginatitels</h1>
<p>Geef elke pagina een betekenisvolle titel</p>
</section>

<section>
<img class="stretch" src="https://images.anysurfer.be/page_title/tabs_chrome_OK.png" alt="4 browsertabs : Medewerkers - Anysurfer, Energiepremies 2021 - Leefmilieu Brussel (met tooltip), Uurrooster ESPADON zwembad, Home/twitter" />

<aside class="notes">In deze screenshot staan in de Chrome browser 4 tabs open. In de tabbalk verschijnen de titels van de geopende webpagina's : "Medewerkers - Anysurfer, Energiepremies 2021 - Leefmilieu Brussel (met tooltip), Uurrooster ESPADON zwembad, Home/twitter".  Paginatitels kunnen lang zijn. Als er veel tabs openstaan, worden ze afgekapt.
Als je er met de muis overheen beweegt, kan je de hele paginatitel lezen, zoals op Energiepremies 2021 in het voorbeeld.
</aside>
</section>

<section>
<h2>Waarom?</h2>
<p>Eerste informatie die screenreader voorleest.</p>
</section>

<section>
<h2>Zoekresultaten</h2>
<p><img class="" src="https://images.anysurfer.be/page_title/google_zwembad.png" class="stretch" alt="Google zoekresultaten : 'Zwembad stadspark - Stad Turnout' en 'Zwembad ter wallen - gemeente Merelbeke'" /></p>
</section>
          
<section>
<h2>Bookmarks</h2>
<p><img src="https://images.anysurfer.be/page_title/bookmark_zwembad.png" alt="Bookmark Zwembad stadspark - stad Turnhout" /></p>
</section>
          
<section>
<h2>Voorbeeld 1 - zeer goed</h2>
<p><img class="stretch" src="https://images.anysurfer.be/page_title/diax_page_titles.png" alt="3 browsertabs : 'Diensten- DiAX', 'Bestellen - DiAX', 'Contact - DiAX'"></p>
<aside class="notes">De paginatitles identificeren de inhoud van de pagina en de naam van de website. Bijvoorbeeld 'Contact - DiAX'. </aside>
</section>

<section>
<h2>Voorbeeld 2 - Onvoldoende</h2>
<img class="stretch"  src="https://images.anysurfer.be/page_title/topvakantie.png" alt="3 identieke tabs: 'Topvakantie' ">
<aside class="notes">We weten over welke website het gaat maar de info over de specifieke pagina binnen die website ontbreekt.
</aside>
</section>

<section>
<h2>Voorbeeld 3 - Onvoldoende</h2>
<img class="stretch"  src="https://images.anysurfer.be/page_title/actionsport.png" alt="3 tabs : 'Stages', 'Cours', 'Anniversaires' ">
<aside class="notes">We weten op welke pagina we ons bevinden, maar niet van welke organisatie de website is.

</aside>
</section>

<section>
<h2>Een goede paginatitel:</h2>
<ul>
<li>Geeft voldoende informatie over de inhoud van de webpagina.</li>
<li>Is uniek</li>
<li>Bevat de naam van de website.</li>
<li>Geeft de inhoud van de pagina aan.</li>
</ul>
</section>

<section>
<h2>In uw CMS</h2>
<p>Als de CMS goed is geconfigureerd, wordt de naam van de website automatisch toegevoegd.</p>
</section>

<section>
<h2>Oefening</h2>
<ol>
	<li>Verander de titel van je pagina van "gebruiker-1" naar je eigen naam.</li>
	<li>Druk op de knop "Bijwerken" om de aanpassingen door te voeren.</li>
</ol>
</section>
