<section>
<h1>Tabellen</h1>
<p>Structureer tabellen correct</p>
</section>

<section>
<p><a target="tweede" href="https://examples.anysurfer.be/tables/tabelhoofdingen.html"><img src="https://images.anysurfer.be/table/tabel_inkomen.png" alt="voorbeeld tabel : gemiddeld maandinkomen in euro van 2014 tot 2016 voor 5 landen"></a></p>
</section>

<section>
<h2>Hoofdingen en bijschrift</h2>
<img src="https://images.anysurfer.be/table/tabel_semantiek.png" alt="voorbeeldtabel waar hoofdingen en bijschrift op getoond worden. ">
</section>

<section>
<h2>Tabelhoofdingen</h2>
<ul>
<li>Cellen die info bevatten over de gegevens in de tabel</li>
<li>Vaak eerste rij en/of eerste kolom</li>
</ul>
</section>

<section>
<h2>Hoe ga je te werk?</h2>
<img src="https://images.anysurfer.be/inge/lesmateriaal/tabelhoofd.png" alt="In het venster 'celeigenschappen', keuzelijst 'celtype' en keuze 'headercel'" />
<p>Pas het celtype aan in de eigenschappen van de rij, kolom of cel.</p>
</section>

<section>
<h2>Duidt het bijschrift van een tabel aan</h2>
<img src="https://images.anysurfer.be/inge/lesmateriaal/onderschrift.png" alt="Aankruisvakje 'onderschrift' in het venster 'Tabeleigenschappen'" />
<p>Vink het aankruisvakje "toon het bijschrift van de tabel" aan. Gebruik er niet de eerste tabelrij voor.</p>
</section>

<section>
    <h2>Complexe tabel</h2>
    <ul>
    <li><a target="tweede" href="http://examples.anysurfer.be/2.4.4/complexe_tabel.html">Te vermijden</a></li>
    <li>Beter <a target="tweede" href="http://examples.anysurfer.be/2.4.4/tabel_gesplitst.html">splitsen in kleinere tabellen</a></li>
    </ul>
    </section>  

<section>
<h2>Enkel één gegeven per cel</h2>
<a target="tweede" href="https://examples.anysurfer.be/tables/tabel_vertaling_nok.html"><img src="https://images.anysurfer.be/table/translation_table_NOK.png" alt="Tabel met vertalingen bevat 3 kolommen (FR, NL, EN) met lijsten van woorden (zie de code)" /></a>
<p>Niet OK omdat alle woorden in een zelfde cel staan. </p>
</section>

<section>
<h2>Slechts een gegeven per cel</h2>
<p><a target="tweede" href="https://examples.anysurfer.be/tables/tabel_vertaling_ok.html"><img src="https://images.anysurfer.be/table/translation_table_OK.png" alt="Verbeterde tabel met vertalingen bevat 3 kolommen (FR, NL, EN) met lijsten van woorden (zie de code)" /></a></p>
<p>OK want er is een rij per te vertalen woord.</p>
</section>

<section>
<h2>Opmaaktabel</h2>
<a target="tweede" href="https://examples.anysurfer.be/tables/tableau_equipes_nok.html"><img src="https://images.anysurfer.be/table/tableau_equipes_nok.png" alt="tabel van 3 kolommen die elk een verschillend aantal voornamen bevatten" /></a>
</section>

<section>
<h2>Opmaaktabel</h2>
<ul>
<li>Enkel voor informatie in tabelvorm, niet voor positionering</li>
<li>Moet leesbaar zijn lijn per lijn</li>
<li>Mag geen tabelhoofdingen hebben</li>
</ul>
</section>
  

<section>
<h2>Oefening</h2>
<p>Zorg ervoor dat de juiste cellen tabelhoofden worden.</p>
</section>
