<section>
<h1>Video en geluid</h1>
<p>Voorzie alternatieven voor beeld en geluid</p>
</section>

<section>
<h2>Waarom?</h2>
<ul>
<li>Doven horen het geluid niet.</li>
<li>Slechthorenden hebben vaak moeite om het goed te verstaan.</li>
<li>Blinden en slechtzienden zien de beelden niet (goed)</li>
</ul>
</section>

<section>
<h2>Welk alternatief?</h2>
<ul>
<li>Geluidsbestand: transcript</li>
<li>Video met enkel beeld: transcript of audiospoor</li>
<li>Video met beeld en geluid:
<ul>
<li>Ondertiteling</li>
<li>Indien nodig audiodescriptie</li>
<li>Nuttig maar niet verplicht: transcript </li>
</ul>
</li>
</ul>
</section>

<section>
<h2>Transcript</h2>
<ul>
<li>Alle gesproken tekst</li>
<li>Wie is aan het woord</li>
<li>Andere belangrijke geluiden vermelden</li>
<li>Hoorbare emoties</li>
</ul>
</section>

<!--
<section>
<h2>Goed voorbeeld</h2>
<ul>
	
<li><a target="tweede" href="https://ebuaccesscast.libsyn.com/ebuaccesscast26-transcript">Podcast met tekstversie</a></li>
<li><a target="tweede" href="https://lv.vlaanderen.be/nl/voorlichting-info/videozone">Video met tekstversie op aparte pagina</a></li>
<li><a target="tweede" href="https://www.ted.com/talks/fawn_qiu_easy_diy_projects_for_kid_engineers/transcript">Video met transcript onder de video</a></li>
</ul>
</section>-->

<section>
<h2>Ondertitels voor doven en slechthorenden (captions)</h2>
<ul>
<li>In de taal van de video</li>
<li>Zo letterlijk mogelijke weergave van gesproken tekst</li>
<li>Wat verder hoorbaar is maar niet zichtbaar:
<ul>
<li>Wie is aan het woord?</li>
<li>Belangrijke geluiden</li>
<li>Stilte</li>
<li>De manier waarop iemand iets zegt</li>
</ul>
</li>
</ul>
</section>

<section>
<h2>Automatische ondertiteling YouTube</h2>
<ul>
<li>Onvoldoende kwaliteit</li>
<li>Kan handig vertrekpunt zijn </li>
<li><a target="tweede" href="https://training.anysurfer.be/nl/video/tuto.html">Tutorial YouTube</a></li>
</ul>
</section>

<!--
<section>
<h2>Voorbeelden</h2>
<ul>
<li><a target="tweede" href="https://www.youtube.com/watch?v=CZJLc2pGbOQ&t=12s">Klasse</a></li>
<li><a target="tweede" href="https://www.youtube.com/watch?v=h4rOgTV6lzw">Closed captioning vs. subtitles: what's the difference?</a></li>
</ul>
</section>
-->

<section>
<h2>Audiodescriptie</h2>
<ul>
<li>Extra audiospoor voor blinden</li>
<li>Beschrijft wat niet hoorbaar is</li>
<li><a target="tweede" href="http://www.youtube.com/embed/x1trbXlDSb8?autoplay=1">Audiospoor voor video met enkel beeld</a></li>
</ul>
</section>
<!--
<section>
<h2>Te vermijden</h2>
<p>Informatie enkel tonen en niet uitspreken</p>
<ul>
<li>Laat persoon de informatie uitspreken</li>
<li>of vermeld de informatie buiten de video</li>
</ul>
</section>

<section>
<blockquote>Bel ons op dit nummer.</blockquote>
</section>

<section>
<blockquote>Op deze grafiek ziet u de evolutie van het aantal patiënten dat vorige week in het ziekenhuis is opgenomen.</blockquote>
</section>
-->
<section>
<h2>Andere aandachtspunten</h2>
<ul>
<li>Kondig de video aan in een korte zin of in een kop.</li>
<li>Video start niet automatisch</li>
<li>Geen flitsende beelden</li>
</ul>
</section>


<!--
<section>
<h2>Oefening</h2>
<p>Bekijk deze video en bepaal welk alternatief er kan voorzien worden.</p>
<a target="tweede" href="https://www.youtube.com/watch?v=ysCQfx-UEpA">Oefening: Edward Snowden: It's only getting better (HITRECORD x ACLU)</a>
</section>
-->