<section>
<h1>Conclusie</h1>
</section>

<section>
<h2>Samenvatting</h2>
<ul>
<li>Toegankelijkheid is wettelijk verplicht</li>
<li>Het bepaalt of je website bruikbaar is voor mensen met een handicap, ouderen en eigenlijk iedereen</li>
<li>Werkt alles met het toetsenbord?</li>
<li>Is alles goed leesbaar? Ook bij vergroting en bij variërende lichtinval?</li>
</ul>
</section>

<section>
<h2>Wat kan je zelf doen?</h2>
<ul>
<li>Betekenisvolle paginatitel</li>
<li>Geen "klik hier"</li>
<li>Werk maken van koppen en lijsten</li>
<li>Tekstalternatief voor afbeeldingen</li>
<li>Niet enkel kleur gebruiken</li>
<li>Video's ondertitelen</li>
<li>Toegankelijke documenten vanaf het begin</li>
</ul>
</section>

<section>
<h2>Extra informatie</h2>
<ul>
<li><a target="tweede" href="https://www.dnsbelgium.be/nl/je-domeinnaam/je-eigen-website/toegankelijke-website/wablieft-klare-taal-op-je-website">Wablieft? Klare taal op je website (DNS)</a></li>
<li><a target="tweede" href="https://www.w3.org/WAI/tips/writing/">Writing for Web Accessibility (W3C)</a></li>
</ul>
</section>


<section>
<h2>Wij helpen</h2>
<ul>
<li>Weet je niet waar te beginnen?</li>
<li>Bestel een audit om stand van zaken te krijgen</li>
<li>Die bevat concrete verbetersuggesties</li>
<li><a target="tweede" href="https://www.anysurfer.be/nl/diensten/audits">Audit bestellen</a></li>
</ul>
</section>

<!--
<section>
<h2>Vervolgopleiding</h2>
<p>Je kan dieper ingaan op:</p>
<ul>
<li>Online video toegankelijk maken</li>
<li>Toegankelijke PDF-documenten maken vanuit Word of InDesign</li>
<li>Alle technische aspecten van toegankelijkheid (voor webontwikkelaars)</li>
</ul>
</section>

<section>
    <h2>Contactgegevens Vlaanderen</h2>
    <ul>
        <li>Diversiteitsbeleid voor vragen webtoegankelijkheid: <a href="mailto:webtoegankelijkheid@vlaanderen.be">webtoegankelijkheid@vlaanderen.be</a></li>
        <li>Bonnie Geerinck - beleidsmedewerker digitale toegankelijkheid: <a href="mailto:bonnie.geerinck@vlaanderen.be">bonnie.geerinck@vlaanderen.be</a></li>    
        <li>IT- en communicatiespecialist Diversiteitsbeleid: <a href="mailto:alexander.vandoren@vlaanderen.be">alexander.vandoren@vlaanderen.be</a></li>
    </ul>
</section>

<section>
    <h2>Relevante websites</h2>
    <ul>
        <li><a href="https://www.vlaanderen.be/dienst-diversiteitsbeleid">Dienst Diversiteitsbeleid</a></li>
        <li>Dienst Diversiteitsbeleid - <a href="https://www.vlaanderen.be/dienst-diversiteitsbeleid/digitale-toegankelijkheid">digitale toegankelijkheid</a></li>
        <li>Inter - <a href="https://www.vlaanderen.be/inter/werken-aan-toegankelijkheid/werken-aan-digitale-toegankelijkheid">Werken aan digitale toegankelijkheid</a></li>
    </ul>
</section>
-->

<section>
<h2>Contact</h2>

<ul>
<li><a href="mailto:info@anysurfer.be">info@anysurfer.be</a></li>
<li>02 210 61 49</li>
<li><a target="tweede" href="https://www.anysurfer.be">www.anysurfer.be</a></li>
<li>Twitter: <a target="tweede" href="https://twitter.com/anysurfer">@anysurfer</a></li>
</ul>
</section>
