<section>
<h1>Hoe gaat u aan de slag?</h1>
</section>

<section>
<ul>
<li>Betrek iedereen</li>
<li>Sensibilisering en opleiding</li>
<li>Prioriteit bij elke vernieuwing</li>
<li>Neem op in aanbesteding</li>
</ul>
</section>

<section>
<h2>Begin zo vroeg mogelijk</h2>
<ul>
<li>Idee</li>
<li>Huisstijl</li>
<li>Redactie</li>
<li>Ontwikkeling</li>
</ul>
</section>

<section>
<ul>
<li>Laaghangend fruit</li>
<li>Los blokkerende problemen op</li>
<li>Bekijk de hele keten</li>
<li>Test (met gebruikers)</li>
<li>Communiceer over uw inspanningen</li>
</ul>
</section>

<section>
<h2>Wij helpen</h2>
<ul>
<li>Weet je niet waar te beginnen?</li>
<li>Bestel een audit om stand van zaken te krijgen</li>
<li>Die bevat concrete verbetersuggesties</li>
</ul>
</section>

<section>
<h2>Vervolgopleiding</h2>
<ul>
<li>Redacteurs: 12 oktober van 9u30 tot 12u30</li>
<li>Designers: 17 oktober van 13u tot 16u</li>
<li>Ontwikkelaars: 19 en 26 oktober van 9u30 tot 12u30</li>
</ul>
</section>

<section>
<h2>Opleiding redacteurs</h2>
<ul>
<li>Paginatitels</li>
<li>Linkteksten</li>
<li>Structuur met koppen en lijsten</li>
<li>Tekstalternatieven bij afbeeldingen</li>
<li>Toegankelijke documenten</li>
</ul>
</section>

<section>
<h2>Opleiding designers</h2>
<ul>
<li>Gebruik van kleur</li>
<li>Contrast van tekst en niet-tekstuele elementen</li>
<li>Visuele aanduiding van de status (focus, hover, etc)</li>
<li>Navigatie en structuur van de website: skiplinks, uitklapmenu's, sticky headers, … </li>
<li>Veel voorkomende componenten: cards, tabs, modal dialogs, tooltips, … </li>
<li>Responsive web design: zoom, reflow en oriëntatie </li>
<li>Verschillende soorten interactie: toetsenbord, pointer, bewegingsactivering, … </li>
<li>Beweging en tijdslimieten </li>
</ul>
</section>

<section>
<h2>Opleiding ontwikkelaars</h2>
<ul>
<li>Toegankelijkheid met toetsenbord</li>
<li>Tekstalternatieven voor SVG, achtergrondafbeeldingen, icon fonts ...</li>
<li>Formulieren</li>
<li>Accessible Rich Internet Applications (ARIA)</li>
<li>Dynamische paginawijzigingen</li>
</ul>
</section>

<section>
<h2>Contact</h2>
<ul>
<li>DiAX, consortium van Digital Accessibility Experts</li>
<li>Coördinator = Erik De Snerck</li>
<li><a href="mailto:info@di-ax.be">Info@di-ax.be</a></li>
<li><a target="tweede" href="https://www.di-ax.be/">www.di-ax.be</a></li>
</ul>
</section>
