<section>
<h1>Conclusie</h1>
</section>

<section>
<h2>Samenvatting</h2>
<ul>
<li>Toegankelijkheid is wettelijk verplicht</li>
<li>Het bepaalt of je website bruikbaar is voor mensen met een handicap, ouderen en eigenlijk iedereen</li>
<li>Werkt alles met het toetsenbord?</li>
<li>Is alles goed leesbaar? Ook bij vergroting en bij variërende lichtinval?</li>
</ul>
</section>

<section>
<h2>Wat kan je zelf doen?</h2>
<ul>
<li>Betekenisvolle paginatitel</li>
<li>Geen "klik hier"</li>
<li>Werk maken van koppen en lijsten</li>
<li>Tekstalternatief voor afbeeldingen</li>
<li>Niet enkel kleur gebruiken</li>
<li>Video's ondertitelen</li>
<li>Toegankelijke documenten vanaf het begin</li>
</ul>
</section>

<!--
<section>
<h2>Wij helpen</h2>
<ul>
<li>Weet je niet waar te beginnen?</li>
<li>Bestel een audit om stand van zaken te krijgen</li>
<li>Die bevat concrete verbetersuggesties</li>
<li><a target="tweede" href="https://accessibility.belgium.be/nl/form/audits-m1104">Aan te vragen via Bosa raamcontract</a></li>
</ul>
</section>

<section>
<h2>Opleiding</h2>
<ul>
<li>Deze opleiding ook voor jouw collega's?</li>
<li>Ook dat kan via het Bosa raamcontract</li>
<li>Sensibilisering is de beste langetermijn motivator</li>
</ul>
</section>

<section>
<h2>Vervolgopleiding</h2>
<p>Je kan ook dieper ingaan op:</p>
<ul>
<li>Online video toegankelijk maken</li>
<li>Toegankelijke PDF-documenten maken vanuit Word of InDesign</li>
<li>Inclusief schrijven</li>
<li>Alle technische aspecten van toegankelijkheid (voor webontwikkelaars)</li>
</ul>
</section>
-->

<section>
<h2>Contact</h2>

<ul>
<li><a target="tweede" href="https://www.di-ax.be/">DiAX, consortium van Digital Accessibility Experts</a></li>
<li><a target="tweede" href="https://elevenways.be/">Eleven Ways, Digital Accessibility Lab</a></li>
<li><a target="tweede" href="https://www.anysurfer.be/">AnySurfer, Voor een toegankelijker internet</a></li>
</ul>
</section>
