<!-- NEW VERSION (09/02/2021) -->

<section id="david">
<h1 class="persona_title">David is blind</h1>
<img src="img/david.png" class="stretch" alt="David" />
</section>

<section>
<p>David uses a screenreader and a braille display.</p>
<img src="https://images.anysurfer.be/s5/computer_luidsprekers.jpg" alt="Speakers" class="floatleft">
<img src="https://images.anysurfer.be/hulpmiddelen/brailleleesregel.png" alt="Braille display in front of laptop with two hands on it" class="floatleft">
</section>


<section>
<img src="/tech/img/leesregeldetail.jpg" alt="display zoomed in on 6 braille dots" />
</section>

<section>
<h2>Examples</h2>
<ul>
<li><a target="tweede" href="https://www.anysurfer.be/en/documentation/articles/detail/why-does-an-accessible-internet-matter">Demo</a></li>
<li><a target="tweede" href="https://wallonia.be/fr">Graphic links</a></li>
<!-- <li><a target="tweede" href="http://trente.be/#menu">Wrong language setting</a></li> -->
</ul>
</section>
<!--
<section >
		<h2>Try it yourself</h2>
			<a href="https://www.nvaccess.org/download/" target="_blank">Open source screenreader NVDA</a>
			</section>
-->
<section>
<h2>Best practices</h2>
<ul>
<!-- <li>Define the language of the website</li> -->
<li>Add alternative texts to informative images</li>
<li>Use proper headings</li>
</ul>
</section>

