<!-- NEW VERSION (09/02/2021) -->

<section id="philippe">
<h1 class="persona_title">Philippe is 75 years old</h1>
<img src="img/filemon.png" alt="Philippe" class="stretch" />
</section>

<section >
<p>Philippe has vision and hearing loss</p>
</section>

<section>
	<blockquote>"I hate CAPTCHAs. The other day I wanted to sign up to an event but I got stuck because I couldn't solve the CAPTCHA."</blockquote>
</section>
 

<section>
<h2>CAPTCHA</h2>
<a target="tweede" href="http://audio.anysurfer.be/audiocaptcha_reCaptcha_truetwit.mp3"><img src="http://slides.anysurfer.be/reveal/img/captcha.jpg" alt="Screenshot CAPTCHA met tekst kill captcha, mp3 audiacaptcha Recaptcha" /></a>


</section>

<section>
<a href="http://anysurfer.be/nl/blog/detail/googles-recaptcha-v2"><img src="http://images.anysurfer.be/gijs/robot.png" alt="Google ReCAPTCHA checkbox I'm not a robot" /></a>

</section> 

 <section>
 <img src="https://images.anysurfer.be/captcha/recaptcha_feux.png" alt="Google recaptcha : identifier les feux de signalisation dans une grille de 16 images" /></a>
 
 </section> 
 


<section>
<h2>Best practice</h2>
<p><a href="http://anysurfer.be/fr/en-pratique/sites-web/eviter-le-spam-sans-captcha">Prevent SPAM without a visible CAPTCHA</a></p>
</section>


