<!-- NEW VERSION (09/02/2021) -->

<section id="hilde">
<h1 class="persona_title">Hilde is Deaf</h1>
<img src="img/hilde.png" alt="Hilde" class="stretch"/>
</section>

<section id="hilde">
  <blockquote><p>"There's a lot of interesting presentations and tutorials available online, but most of them are of no use to me because they don't have captions. </p></blockquote>

</section>

<section>
  <h2>Subtitles (translation) - not OK</h2>
  <a target="tweede" href="https://www.youtube.com/watch?v=mK-lCRoKoLs"><img src="https://images.anysurfer.be/lora/MarcVanRanst.png" alt="Marc Van Ranst video over Covid19 in dutch with english subtitles" /></a>
</section>

<section>
  <h2>Captions - OK</h2>
  <a target="tweede" href="https://www.youtube.com/watch?v=eCPjR-94p3U"><img src="https://images.anysurfer.be/lora/TommyEdison.png" alt="The Tommy Edison Experience with captioning" /></a>
</section>



<section>
<h2>Text version/transcript</h2>
<a target="tweede" href="https://docs.google.com/document/d/e/2PACX-1vTQPt6NqQalU6KHQI2MBoigINKV8isct_jCPe7FFrqHkO0hJAvA1y67ApFbt0GQG9-qH9aOyjplE_E4/pub"><img src="https://images.anysurfer.be/lora/1.5_ Here There Be Gerblins - Part One (Super Cut) - The Adventure Zone transcript - TAZscripts - Mozilla Firefox 2021-02-09 13.11.45.png" class="stretch" alt="Podcast transcript: The Adventure Zone aflevering 1.5 - transcript shows spopen tekst as well as intonations and background noises"></a>
</section>
 
<section>
<h2>Best practice</h2>
<ul>
<li>Caption videos</li>
<li>Provide a text transcript for audio</li>
</ul>
</section>

  <section>
  <h2>Why do you use captions?</h2>
  <p><a target="tweede" href="https://sebastiangreger.net/2019/02/ux-closed-captions-for-everybody/">Source: close captions for everybody</a></p>
  </section>

  <section>
    <blockquote>English isn't my native language. Captions make videos easier to understand, and help me improve my English skills.</blockquote>
    </section>

  <section>
    <blockquote>When characters are mumbling, or speak with an unfamiliar accent.</blockquote>
    </section>
  
    <section>
      <blockquote>Because there are multiple people in the room with me while I'm watching a video, all using different screens (competing noise).</blockquote>
    </section>
    <section>
      <blockquote>I have ADHD. Captions help me focus. </blockquote>
    </section>
  
    <section>
      <blockquote>I'm watching TV with the volume down so my baby won't wake up from the noise.</blockquote>
    </section>
  
    <section>
    <blockquote>Crunchy snacks.</blockquote>
    </section>