<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Introduction digital accessibility</title>

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/anysurfer.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/anysurfer.css">
		<link rel="stylesheet" href="css/theme/simple.css" id="theme">
		<link rel="stylesheet" href="css/fullscreen-img.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>
		

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
			<style type="text/css">
   .reveal pre {
    width: 100%;
   }
   .reveal pre>code {
    font-size: 140%;
    padding: 1em;
    line-height: 125%;
    /*font-family: arial;*/
    /*background-color: lightgrey;*/
   }
   /*
   .reveal pre .title, pre .css .rules .attribute {
    color: #A0E8E8;
   }
   */
   
  
   pre .css .pseudo {
    color: #F2E7D6;
   }
   
   
   
   .reveal pre .value,  pre .css .rules .value{
    color: #FFA0A0;
   }
   
   
   /*
   .reveal pre .tag {
    color: red;
    }
   */
  </style>
  	</head>

	<body>

		<div class="reveal">	
			<div class="slides">

<section>
<h2>Slide controls</h2>
<ul>
<li>Escape: overview of all slides.</li>
<li>Arrow keys: navigate horizontally or vertically through slides.</li>
<li>Or: use the buttons on the bottom right of the screen.</li>
</ul>
</section>
<!--
<section style="text-align: center;">				
<img src="img/logo_AS_square.png" class="stretch" alt="logo anysurfer" />
</section>
-->
<section>
<h1>Introduction to digital accessibility</h1>
</section>

<section>
<section>
<h1>Accessibility</h1>
</section>

<section>
<p>Accessible:</br>Perceivable, understandable, and operable by everyone,</br>including people with disabilities. </p>
</section>

<section>
<p>Everyone can use your website or mobile app, including people who:</p>
<ul>
<li>Have a disability</li>
<li>Are aging</li>
<li>Have circumstantial limitations</li>
</ul>
</section>

<section>
<img src="img/who.png" alt="World Health Organisation" />
<blockquote>About 15% of the world's population lives with some form of disability.</blockquote>
<p><a target="tweede" href="https://www.youtube.com/embed/gHCDvdCaJhI?autoplay=1">#WeThe15</a></p>
</section>

<section>

<h2>Disabilities</h2>
<img class="stretch" src="http://images.anysurfer.be/slide_visuals/logos_handicap.png" alt="Motor, cognitive, visual and hearing"/>
</section>

<section>
<h2>Age</h2>
<p>Almost 1 in 5 Belgians are older than 67 in 2024.</p>
<p class="small"><a href="https://www.vlaanderen.be/statistiek-vlaanderen/bevolking/bevolking-naar-leeftijd-en-geslacht#vlaamse-bevolking-vergrijst-bijna-1-op-5-is-67-plusser">Source: Statbel</a></p>
</section>  

<section>
<h2>Circumstances</h2>
<img src="https://images.anysurfer.be/gijs/win-a11y-touch.png" alt="touch permanent one arm, temporary arm injury, situational holding baby" />
</section> 

<section>
<img class="stretch" src="https://images.anysurfer.be/gijs/iphone-motor-mount.png" alt="smartphone with satnav app on motorbike" />
</section>

<section>
<img src="https://images.anysurfer.be/gijs/gps-motor.png" alt="google maps en apple maps" />
</section>

<section>
<h2>Websites and apps</h2>
<ul>
<li>Everyone wants to participate in the (digital) world</li>
<li>Especially when limitations are at play</li>
<li>This is possible when websites and apps are accessible.</li>
</ul>
</section>

</section> 

<section>
<h1>9 personas with disabilities</h1>
<ul>
<li>How do they use a computer, tablet, or smartphone?</li>
<li>Which assistive technologies do they use?</li>
<li>Which obstacles do they encounter?</li>
<li>How can <strong>you</strong> remove these obstacles?</li>
</ul>
</section>    	

<section class="insertion">en/personas/nina</section>
<section class="insertion">en/personas/jerry</section>
<section class="insertion">en/personas/kadisha</section>
<section class="insertion">en/personas/jim</section>
<section class="insertion">en/personas/karolijn</section>
<section class="insertion">en/personas/vera</section>
<section class="insertion">en/personas/tommy</section>
<section class="insertion">en/personas/hilde</section>
<section class="insertion">en/personas/david</section>
<section class="insertion">en/personas/filemon</section>

<section>
<section>
<h2>Conclusion</h2>
<ul>
<li>The users of your websites and apps are all different.</li>
<li>Everyone wants to participate in the digital world.</li>
<li>Accessible websites and apps make this possible.</li>
</ul>
</section>

<!-- Wetgeving en standaarden -->
<section>
<h1>How do we reach accessibility?</h1>
</section>

<section>
<h2>Where to start:</h2>
<ul>
<li>Raise awareness and follow trainings</li>
<li>Add accessibility as a requirement for every new website, document, or application</li>
<li>Choose suppliers (or be a supplier) with proven expertise in digital accessibility</li>
<li>When using existing widgets, choose accessible ones</li>
<li>After delivery, check that all accessibility requirements are fulfilled</li>
</ul>
</section>

<section>
<h2>Follow standards:</h2>
<ul>
<li>Web Content Accessibility Guidelines (<a href="https://www.w3.org/TR/WCAG22/">WCAG 2.2</a>)</li>
<li>W3C-WAI <a target="tweede" href="https://www.w3.org/WAI/ARIA/apg/patterns/">ARIA Authoring Practices Guide</a></li>
<li>For websites, mobile apps, digital documents, newsletters, social media,...</li>			
</ul>
</section>

</section>

<section>
	<section>
	<h1>Legislation and standards</h1>
	</section> 
<!--	
	<section>
	<h2>European Directive</h2>
	<p><a target="tweede" href="http://eur-lex.europa.eu/legal-content/NL/TXT/HTML/?uri=CELEX:32016L2102&from=EN">Directive (EU) 2016/2102</a> of the european parliament and of the council of 26 October 2016 on the accessibility of the websites and mobile applications of public sector bodies</p>
	</section>



	<section>
		<h2>European Directive</h2>
		<ul>
			<li>Websites (as of September 2020) and apps (as of June 2021) of government institutions must be accessible </li>
			<li>Websites and apps must have an accessibility statement.</li>
			<li>The standard to conform to is the Web Content Accessibility Guidelines 2.1 Level AA.</li>
			<li>FOD Bosa is responsible for enforcement, monitoring, and reporting: <a target="tweede" href="https://accessibility.belgium.be">https://accessibility.belgium.be</a></li>
		</ul>
	</section>



	<section>
	<h2>WCAG</h2>
	<ul>
	<li>2008: Web Content Accessibility Guidelines 2.0</li>
	<li>2018: <a target="tweede" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines 2.1</a></li>
	<li>2023: <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines 2.2</a></li>
	<li>3 levels : A, AA and AAA</li>
	<li>55 success criteria for level AA (normative)</li>
	<li>Many techniques (non normative)</li>
	</ul>
	</section>
	
	<section>
	<h2>Accessibility statement</h2>
	<ul>
	<li>Which accessibility requirements does the website/app meet?</li>
	<li>How was this tested?</li>
	<li>Which temporary alternatives are available if certain parts are still inaccessible?</li>
	<li>How can a user report accessibility issues?</li>
	<li>What's the enforcement procedure if a user receives no (adequate) reply to their feedback?</li>
	</ul>
	<p><a target="tweede" href="https://www.nomensa.com/blog/writing-an-accessibility-statement">How to write an accessibility statement</a></p>
	</section>
-->
<section>
<h2>2 european directives</h2>

<ul>
	<li><strong>Web Accessibility directive </strong>: websites and apps of public sector </li>
	<li><strong>European Accessibility Act </strong>: certain common products and services </li>
</ul>

</section>
<section>
	<h2>Web Accessibility Directive</h2>
<ul>
<li>European directive: <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016L2102&from=EN">Full text in Official Journal</a> (available in all EU languages)</li>
<li>Websites and mobile applications maintained by public sector bodies must be(come) accessible.</li>
<li>They must publish an accessibility statement</li>
</ul>
</section>

<section>
<h2><a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:32019L0882">European Accessibility Act</a></h2>

<ul>
		<li>Businesses will need to comply with the EAA by June 2025.</li>
		<li>Applies to products and services: 
		<ul>
		 	<li>Products: computers, smartphones, ATMs, payment terminals, e-readers,...</li>
			<li>Services : 112 number, telecom, banks, public transport, e-commerce,...</li>
		 </ul> </li>
		<li><a href="https://eur-lex.europa.eu/legal-content/FR/NIM/?uri=CELEX%3A32019L0882">Several transpositions into belgian law (per theme)</a></li>
	</ul>

</ul>
</section>


<section>
<h2>Accessibility statement</h2>
<ul>
<li>What is the current level of accessibility?</li>
<li>Which alternatives are provided?</li>
<li>How can a visitor provide feedback?</li>
</ul>
</section>

<section>
<h2>The standard:</h2>
<ul>
<li>Web Content Accessibility Guidelines (<a href="https://www.w3.org/TR/WCAG22/">WCAG 2.2</a>)</li>
<li>For websites, mobile apps, digital documents, newsletters, social media,...</li>			
</ul>
</section>

	</section>

<section>
	<h2>Contact</h2>
<ul>

<li><a href="https://www.anysurfer.be/nl">www.anysurfer.be</a></li>
<li><a href="mailto:info@anysurfer.be">info@anysurfer.be</a></li>
<li>02 210 61 49</li>
</ul>
</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>
<script src="https://cdn.anysurfer.be/js/jquery.js"></script>
<script src="js/custom.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',
								// The "normal" size of the presentation, aspect ratio will be preserved
      // when the presentation is scaled to fit different resolutions. Can be
      // specified using percentage units.
      width: 1024,
      height: 768,


				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="insertion_modules.js"></script>

	</body>
</html>
