<!-- NEW VERSION (09/02/2021) -->

<section id="jerry">
<h1 class="persona_title">Jerry is colour blind</h1>
<img src="img/jerry.png" alt="" class="stretch" />
</section>

<section>
<h2>8% of all men are colour blind</h2>
<ul>
<li>They can see colours: they don't have monochrome vision.</li>
<li>They may have limited ability to distinguish between two colours, such as red and green.</li>
<li>There are different types of colour blindness</li>
</ul>
</section>

<section>
<p>Jerry cannot tell red and green apart </p>
<img class="stretch" src="https://images.anysurfer.be/gijs/74.jpg" alt="Ishihara test, number 74 in green on red/orange background, invisible for some colorblind people" />
</section>

<section>
<img class="stretch" src="https://images.anysurfer.be/gijs/74-after.jpg" alt="same image but only the number 74 without the red background" />
</section>

<section>
<img class="stretch" src="https://images.anysurfer.be/gijs/21.jpg" alt="Same image with 74 and background all in same brownish color, 74 not visible" />
</section> 

<section>	
<blockquote><p>"I hated playing UNO as a child."</p></blockquote>
</section>

<section>
<p><img class="stretch" src="https://images.anysurfer.be/gijs/uno-original.jpg" alt="4 UNO cards : red, green, yellow and blue" /></p>
</section>

<section>
<img src="https://images.anysurfer.be/gijs/uno-colorblind.jpg" alt="UNO cards with extra symbol indicating the color" /></a>
</section>

<!--<section>
<h2>	Can you spot the links? </h2>
<a target="tweede" href="https://www.ed.ac.uk/information-services/research-support/research-data-service/research-data-training-skills/online-training"><img src="https://images.anysurfer.be/inge/lesmateriaal/nounderlinelinks.png" alt="Blauwe links in zwarte paragrafen op website van Research data service" /></a>
</section> 

<section>
<h2>	For Jerry it is even more difficult</h2>
<p><img src="https://images.anysurfer.be/inge/lesmateriaal/nounderlinelinks_BW.png" alt="zelfde screenshot in grijswaarden" /></a></p>
</section> 
--> 

<section>
<h2>Can you spot the links? </h2>
<a target="tweede" href="https://wallonia.be/en/your-mission"><img src="https://images.anysurfer.be/color/red_links.jpg" alt="dark grey text with red links that are not underlined" /></a>
</section> 

<section>
<h2>Jerry cannot distinguish the links from the surrounding text</h2>
<p><img src="https://images.anysurfer.be/color/red_links_greyscale.jpg" alt="same links in greyscale, they have the same color as the text" /></a></p>
</section> 

<section>
<h2>Better</h2>
<a target="tweede" href="https://mantra.ed.ac.uk/datamanagementplanning/"><img src="https://images.anysurfer.be/color/underlined_links.jpg" alt="Dark blue underlined links in black text" /></a>
</section>

<section>
<img alt="Two Dots game: link the dots. Left: only color. Right: also shapes" src="http://images.anysurfer.be/gijs/twodots.png">
<aside class="notes">Two Dots, a game focused around making connections of dots of the same color also has a color-blind mode.</aside>
</section>

<section>
<p>Pie chart - not OK</p>
<img src="http://images.anysurfer.be/color/GA_diagram_and_legend.png" alt="Google analytics - pie chart and its legend" class="stretch">
</section>
	
<section>
<p><a target="tweede" href="http://webaim.org/projects/practitionersurvey/#years">Better Pie chart</a></p>
<img src="http://images.anysurfer.be/color/camembert_webaim.png" alt="Webaim survey - pie chart with legend visually linked with the image" class="stretch">
</section>
     
<section>
<h2>Best practice</h2>
<p>Use more than just colour to convey information.</p>
</section>
