<!-- NEW VERSION (09/02/2021) -->

<section id="jim">
<h1 class="persona_title">Jim has a motor impairment</h1>
<img src="img/jim.png" class="stretch" alt="Jim" />
</section>

<section>
<p>Jim cannot use a mouse.</br>He uses a <a target="tweede" href="https://youtu.be/Rz2HpGC9vbw?t=18">headstick</a> and a keyboard instead.</p>
</section>

<section>
<h2>Try it yourself</h2>
<ul>
<li><kbd>Tab</kbd>: next interactive element</li>
<li><kbd>Shift</kbd> + <kbd>tab</kbd>: previous interactive element</li>
<li><kbd>Enter</kbd>: activate link or button</li>
<li><kbd>Spacebar</kbd>: select checkbox or radio button</li>
<li>Up and down arrow keys: select list item</li>
</ul>
<!--
<p class="small"><a target="tweede" href="https://www.iana.org/domains/reserved">Example</a></p>
-->
</section>

<section>
<h2>Example 1 - visible focus</h2>
<p>Try to reach the following pages by using the tab key.</p>
<ul>
<li>"At a Glance" on <a target="tweede" href="https://www.w3.org/WAI/standards-guidelines/wcag/">W3C</a></li>
<li>"Top Promo" on <a target="tweede" href="https://www.collectandgo.be/colruyt/nl/home">Collect & Go</a></li>
</ul>
</section>

<section>
<h2>Example 2 - drop-down menu</h2>
<p>Try to expand the main menu without using the mouse.</p>
<ul>
<li><a target="tweede" href="https://brussels-school.be/education">Brussels school of governance</a></li>
<li> <a target="tweede" href="https://www.kbc.be/retail/en.html?zone=topnav">KBC</a></li>
</ul>
<!--<p>Other examples in case these ones stop working: , <a target="tweede" href="https://developer.mozilla.org/en-US/">Mozilla Developer Network (OK)</a></p>
-->
</section>

<section>
	<h2>Example 3 - accordions</h2>
						<p>Can you reach the accordion elements and expand them without using the mouse? </p>
						<ul>
<li> <a target="tweede" href="https://www.worldsoundtrackawards.com/awards/awards-2">World Soundtrack Awards</a></li>
<li><a target="tweede" href="https://www.daenens.be/en/service-vouchers/faq">Daenens FAQ</a></li>
</ul>
</section>

<section>
<h2>Best practice</h2>
<p>Everything that's accessible by mouse must also be accessible by keyboard.</p>
</section>


