<!--
--------------------------------------------------
Kadisha cataracte
--------------------------------------------------
-->

<section id="kadisha">
<h1 class="persona_title">Kadisha has <a href="https://fr.wikipedia.org/wiki/Cataracte_(maladie)">cataract</a></h1>
<div class="img-container stretch">
<img src="http://slides.anysurfer.be/reveal/img/kadisha.svg" alt="Kadisha"/>
</div>
</section>

<section>
<a href="https://deliveroo.be/nl-be/"><img src="https://images.anysurfer.be/inge/lesmateriaal/cataractcontrast.png" alt="Light grey text in search field and light blue button on website Deliveroo not visible with simulation"></a>
    <p><a target="tweede" href="https://chromewebstore.google.com/detail/silktide-website-accessib/okcpiimdfkpkjcbihbmhppldhiebhhaf?hl=en-US&utm_source=ext_sidebar">Silktide vision simulator</a></p>
</section>

<section>
<blockquote>
<p>"I'm trying to decide which pizza to order, but I can't read the list of ingredients."</p>
</blockquote>
</section>

<section>
<a target="tweede" href="https://www.pizzahut.be/fr/catalog"><img src="https://images.anysurfer.be/contrast/pizza hut.png" alt="Ingredients of the Beyond meat pizza are in light grey text on white background"></a>
</section>

<section>
<p>Colour contrast analyser</p>
<a target="tweede" href="http://www.paciellogroup.com/resources/contrastanalyser/"><img src="https://images.anysurfer.be/contrast/pizza hut contrast.png" alt="color contrast analyser showing contrast of 2,0 for light grey on white"/></a>

</section>

<section>
<h2>What is sufficient contrast?</h2>
<ul>
<li>Text smaller than 24px: <strong>minimum 4,5:1.</strong></li>
<li>Text bigger than 24px: <strong>minimum 3:1.</strong></li>
</ul>
</section>

<section>
<blockquote>
<p>"I use my browser's zoom function to enlarge the contents of a page. It's convenient when the page's content adapts to the width of the browser window, but unfortunately content disappears sometimes."</p>
</blockquote>
</section>

<section>
<img src="https://images.anysurfer.be/20191021-100zoom.jpg" alt="page at 100% in Chrome" />
</section>

<section>
<img src="https://images.anysurfer.be/20191021-400zoom.jpg" alt="Same page with 400% zoom and no horizontal scrollbar" />

</section>

<section>
<h2>Best practices</h2>
<ul>
<li>Provide sufficient colour contrast to improve legibility</li>
<li>Build responsive websites and make sure content doesn't disappear on mobile viewports</li>
</ul>
</section>
