<!-- NEW VERSION (09/02/2021) -->

<section id="nina">
<h1 class="persona_title">Nina has ADHD</h1>
<img src="img/nina.png" alt="Nina" class="stretch" />
</section>

<section>

<blockquote>"I have trouble focusing. I'm very sensitive to sensory stimuli, and I often forget things."</blockquote>
</section>

<section>
<h2>Distractions</h2>
<ul>
<li><a target="tweede" href="https://www.ryanair.com/us/en">Slideshows without pause button</a> </li>
<li><a target="tweede" href="https://lmjabreu.com/post/why-and-how-to-avoid-hamburger-menus/">Animated gifs</a> </li>
<li><a target="tweede" href="https://www.autimatic.be/">Background video</a></li>
<li><a target="tweede" href="https://www.reddit.com/r/funny/comments/9q22c2/every_website_in_2018/" target="_blank">Unwanted pop-ups</a></li>

</ul>
</section>

<section>
<h2>Solutions</h2>
<p>Give control to the user</p>
<ul>
<li><a target="tweede" href="https://www.ebay.com/">Add a pause button</a></li>
<li>Stop animation after max. 5 seconds</li>
<li>Let user start animation</li>
<li>Let user trigger display of pop-ups</li>


</ul>
</section>

<section class="present" style="top: -349px; display: block;">
		<h2>Pop-ups</h2>
		<p>Expected pop-ups are OK, unexpected are not</p>
		<a href="https://www.farmaline.be/apotheek/" target="_blank"><img src="https://images.anysurfer.be/inge/lesmateriaal/unexpectedpopup.png" alt="verwachte en onverwachte pop-ups op de website van Hitrecord"></a>
	</section>
 
<section>
<h2>Best practices</h2>
<ul>
<li>Allow the user to be in control (pause button)</li>
<li>Avoid autoplay, especially for sound</li>
<li>Avoid background videos and other distractions</li>
</ul>
</section>

