<section id="steve">
						<h1>Steve</h1>
						<img src="img/steve.png" class="stretch" alt="Steve" />
					</section>
					<section>
	<h2>Steve</h2>
	<ul>
		<li>Apple fan boy (iPhone & Macbook Air)</li>
		<li>Works in marketing</li>
		<li>Commutes to work</li>
		<li>Always online</li>
	</ul>
</section>
					
					<section>

						<p>Steve has accessibility problems when working on mobile devices.</p>
					</section>
					
					<section>
						<h2>Sight</h2>
						<ul>
							<li>Small screen, too much light</li>
							<li>Content not available in mobile version</li>
							<li>Bad 3G connection: no images, impossible to download video</li>
							<li>No flash support</li>
							<li>Zoom doesn't work</li>
						</ul>
				
					</section>
					
					<section>
						<h2>Motor impairment</h2>
						<ul>
							<li>Hitbox too small</li>
							<li>Difficulties using a keyboard</li>
							<li>Mouse actions are impossible</li>
						</ul>
					</section>
					
					<section>
						<h2>Hearing</h2>
						<ul>
							<li>Too much noise or silence</li>
							<li>No headphones</li>
						</ul>
						<p></p>
					</section>
					
					<section>
						<h2>Best practice</h2>
						<p>Same as for the other personas </p>
					</section>


