<!-- NEW VERSION (09/02/2021) -->

<section id="tommy">
<h1 class="persona_title">Tom has reading difficulties</h1>
<img src="img/tommy.png" class="stretch" alt="Tommy" />
</section>

<section>
<blockquote>"I've received a letter from the government, but I don't understand what they're asking me to do."</blockquote>
</section>

<section>
<p>Tom understands simple texts with everyday words.</p>
</section>

<!--				
<section>
<img src="http://images.anysurfer.be/s5/taalniveau.png" alt="Graphique niveaux de lecture" class="floatleft"  /><p>In the Netherlands, 75% of the texts on public websites correspond to reading level C1, but most of the population has a reading level well below that.</p>
</section>
-->				

<section>
<h2>Too difficult</h2>
<p>Quality jobs ensure economic independence, foster personal achievement, and offer the best protection against poverty[...] The commission will improve knowledge of the employment situation of women and men with disabilities, identify challenges and propose remedies. It will pay particular attention to young people with disabilities in their transition from education to employment. It will address intra-job mobility on the open labour market and in sheltered workshops, through information exchange and mutual learning. It will also address the issue of self employment and quality jobs, including aspects such as working conditions and career advancement [...]</p>
Source: <a target="tweede" href="http://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:52010DC0636&from=EN">European Disability Strategy 2010-2020</a>
</section>
					
<section>
<h2>Easier</h2>
<p>Jobs are important because they protect people from being poor and make sure that people can live independently.</p>
<p>The European Union plans to: </p>
<ol>
<li>make workplaces more accessible</li>
<li>support job training</li>
<li>increase access to jobs for people with disabilities</li>
</ol>
<p>Source <a target="tweede" href="http://www.google.be/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&ved=0CDAQFjAD&url=http%3A%2F%2Fwww.disability.co.uk%2Fsites%2Fdefault%2Ffiles%2Fresources%2Fdisability%2520strategy%2520ETR%2520final.pdf&ei=1GM3VZ6qB8jcaO6ugOAK&usg=AFQjCNHto1wKJhXuQrnzMmtVk6pm8MbD7A&bvm=bv.91071109,d.d2s&cad=rja">Easy to read version of European disability strategy (PDF)</a></p>
</section>
					
<section>
<h2>Best practices</h2>
<ul>
<li>Think of your audience when writing texts for them</li>
<li>Avoid jargon</li>
<li>Keep texts short</li>
<li>Sufficient text size</li>
</ul>	
<p><a target="tweede" href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-style-guide.html#toc6">Canada content style guide</a></p>	
</section>
