<!--
Vera SLA - maladie de Charcot
-->

<section id="vera">
<h1 class="persona_title">Vera has ALS</h1>
<div class="img-container stretch">
<img src="https://images.anysurfer.be/gijs/vera.svg" alt="Vera"/>
</div>
<aside class="notes">La maladie de Charcot est aussi appelée sclérose latérale amyotrophique (SLA). C'est une maladie dégénérative qui affecte les muscles. Vera est presque tout à fait paralysée. Elle utilise son ordinateur au moyen d'un logiciel appelé Switch Control</aside>
</section>

<section>
<h2>Switch control</h2>
<img src="https://images.anysurfer.be/gijs/Panel_2019-03-25_12-03-54.png" alt="switch control menu" />
<aside class="notes">Switch control est un logiciel qui permet de commander son ordinateur autrement qu'avec un clavier et une souris. Chaque utilisateur peut le configurer selon ses besoins. </aside>
</section>

<section>
<img src="/tech/img/hawking2.jpg" alt="Stephen Hawking in his wheelchair" />
<aside class="notes">Steven Hawking utilisait un logiciel de ce type. Il n'avait pas l'usage de ses mains ni de sa voix. </aside>
</section>

<section>
<img src="/tech/img/hawking.jpg" alt="detail of Stephen Hawking with glasses with infrardd sensor. It registers jaw movements" />
<aside class="notes">Gràce à un senseur placé sous ses lunettes il pouvait contrôler son ordinateur en faisant de tout petits mouvements de la joue.  </aside>
</section>

<section>
<p><a target="tweede" href="https://www.youtube.com/embed/ucU0vCr0rW8?autoplay=1">
<img src="https://images.anysurfer.be/AT/puffandsip.png" class="stretch" alt="demo switch control with puff and sip" />
</a>
</p>
<aside class="notes">La vidéo montre un exemple d'un utilisateur qui utilise switch control pour contrôler son iphone. Cet utilisateur utilise un système de 'puff and sip'. Il souffle et aspire dans une paille pour envoyer des commandes à son logiciel.   </aside>
</section>

<section>
<blockquote>
<p>I was filling in a form, but it took me longer than expected. I've been logged out and now I have to start all over again. I think I might just give up.</p>
</blockquote>
</section>

<!--
<section>
<a target="tweede" href="/tech/img/puffsip.mp4">
<img src="http://images.anysurfer.be/gijs/iphone_redux_fc__1__610.mp4_2017-09-27_09-26-38.png" alt="puf en sip schakelaars" /></a>
</section>
-->

<section>
<h2>Best practice</h2>
<p>Give users enough time to complete their actions. </p>
</section>
