<!-- Goed advies -->
<section>
<h1>Algemeen advies</h1>
</section>

<section>
<h2>Kies voor een toegankelijke basis</h2>
</section>

<section>
<img class="stretch" src="https://images.anysurfer.be/slides/general/20240415-slides-general-overview-frameworks.png" alt="Overzicht frameworks: react, tailwindcss, laravel, vue.js, django, symfony, bootstrap, angular" />
<aside class="notes">als je a11y aanpassingen doet, neem die dan ook mee voor andere projecten</aside>
</section>

<section>
<img src="https://images.anysurfer.be/slides/general/20240415-slides-general-oveview-cms.png" alt="overzicht CMS: Hubspot, Wordpress, Drupal, Shopify, Typo3, Craft CMS, Salesforce en Joomla" />
</section>

<section>
<p>Componenten die in elk project voorkomen?<br> Zet nooit een stap terug.</p>
</section>

<section>
<h2>Accessible components</h2>
<ul>
<li><a target="tweede" href="https://design-system.service.gov.uk/">Gov.uk design system</a></li>
<li><a target="tweede" href="https://inclusive-components.design/#components">Heydon's Inclusive Components</a></li>
<li><a target="tweede" href="https://www.w3.org/WAI/ARIA/apg/patterns/">WAI-ARIA design patterns</a></li>
</ul>
</section>

<section>
<h2>Hou het simpel voor redacteurs</h2>
</section>

<section>
<img src="https://images.anysurfer.be/gijs/CK-editor.png" alt="full, standard en simple CK-editor toolbar" />
</section>

<section>
<h2>Test vanaf het begin</h2>
<p>Aanpassingen <strong>achteraf</strong> kosten meer moeite, <br>meer tijd (=geld) en leiden vaak tot frustratie.</p>
</section>
