<!-- Afleidingen -->
<section>
<h1>Afleiding,<br> beweging en tijd</h1>
</section>
<section>
<h2>Lichtflitsen</h2>
<p>Ontwerp geen inhoud die epileptische aanvallen kan veroorzaken.</p>
<p>
<ul>
<li><strong>Vermijd</strong> flikkeringen: <strong>drie of meer flitsen per seconde</strong>.</li>
<li>Belangrijk voor: epilepsie, migraine, lichtgevoeligheid, zintuiglijke overprikkeling</li>
</ul>	</p>
<p class="small"><a target="tweede" href="http://trace.umd.edu/peat">Photosensitive Epilepsy Analysis Tool (PEAT)</a>
</section>
<section>
<h2>Lichtflitsen</h2>
<h3>Waarschuw de gebruiker</h3>
<p>Voorbeelden (links kunnen toeval uitlokken):</p>
<ul>
<li><a target="tweede" href="http://www.fallingfalling.com/">Falling.com (kleurenflitsen)</a></li>
<li><a target="tweede" href="https://www.youtube.com/watch?v=zFGtEHJLok0">Citroën DS4 (zwart-wit flitsen)</a></li>
<li><a target="tweede" href="https://www.kampingkitschclub.be/">Kamping Kitsch (website met flitsen)</a></li>
<li><a target="tweede" href="https://www.youtube.com/watch?v=Ben_8tA6Eyg">Pokémon (side-by-side vergelijking)</a></li>
</ul>
<aside class="notes">https://twitter.com/Apple/status/907688647457046528</aside>
</section>
<section>
<h2>Beweging</h2>
<p>Wanneer een animatie <strong>automatisch start</strong> en langer dan <strong>5 seconden</strong> speelt op een webpagina:
<ul>
<li>kan de gebruiker dit <strong>pauzeren of stoppen</strong></li>
<li>best: niet automatisch starten.</li>
</ul></p>
<p>Belangrijk bij concentratieproblemen en zintuiglijke overprikkeling.</p>
</section>
<section>
<h2>Beweging</h2>
<ul>
<li>Tekst die scrolt</li>
<li>Slideshow</li>
<li>Achtergrondvideo</li>
<li>Geanimeerde GIF</li>
<li>Knipperende inhoud</li>
<li>SVG animatie</li>
<li>Autoplay</li>
<li>...</li>
</ul>
<p>Voorbeelden: <a target="tweede" href="https://www.autimatic.be/nl/">-</a>/<a target="tweede" href="https://www.blindenzorglichtenliefde.be/">+</a></p>
</section>
<section>
<h2>Start geluid niet automatisch</h2>
<p>Wanneer een geluidsfragment automatisch start en <strong>langer dan 3 seconden</strong> speelt:
<ul>
<li>gebruiker kan <strong>zelf</strong> het fragment <strong>pauzeren of stoppen</strong>.</li>
<!-- <li>Voorbeeld: <a target="tweede" href="https://www.amazon.nl/?tag=nltxtbiabkde-21&ref=pd_sl_5ktyt85mq9_e&adgrpid=1338106119938999&hvadid=83631694190895&hvnetw=o&hvqmt=e&hvbmt=be&hvdev=c&hvlocint=&hvlocphy=614&hvtargid=kwd-83631912969194:loc-14&hydadcr=3219_2030224">
Amazon nl
</a></li>-->
</ul>
</p>
</section>
<section>
<h2>Pop-up's</h2>
<ul>
<li>Gebruik met mate</li>
<li>Vermijd onverwacht gedrag</li>
<li>Nooit bij het inladen</li>
</ul>
</section>
<section>
<h2>Cookiebanners</h2>
<p>Wanneer de cookiebanner een groot deel van de inhoud overlapt:
<ul>
<li>Snel en gemakkelijk wegklikken</li>
<li>Bovenaan in broncode</li>
<li>Geen toetsenbordval</li>
</ul>
</p>
</section>
<section>
<img class="stretch" src="https://images.anysurfer.be/inge/lesmateriaal/cookiebannertelenet.jpg" alt="cookiebanner telenet" />
</section>
<section>
<h2>Tijdslimieten</h2>
<p>Waarschuwing met optie tot verlengen.</p>
</section>
<section>
<img src="/tech/img/tijd.png" alt="dialoogvenster Belfius sessietijd verlengen" />
</section>
<!--
<section>
<h2>Automatische actualisering</h2>
<p><a target="tweede" href="https://www.anysurfer.be/nl/documentatie/artikels/detail/live-regions">aria live regions</a></p>
</section>
-->
