<!-- documenten -->
<section>
<h1>Documenten</h1>
</section>
<section>
<h2>Documenten</h2>
<ul>
<li>Informatie liever in webpagina's publiceren dan in documenten.</li>
<li>Als je organisatie templates gebruikt, maak die dan eerst toegankelijk.</li>
</ul>
</section>
<section>
<h2>Toegankelijke documenten</h2>
<ul>
<li>Zelfde principes als voor webpagina's</li>
<li>Hoe je dat toepast, is in elk programma een beetje verschillend.</li>
<li><a target="tweede" lang="en" href="https://adod.idrc.ocadu.ca/">Accessible Digital Office Document (ADOD) Project</a></li>
</ul>
</section>
<section>
<h2>Word-documenten</h2>
<ul>
<li>Gebruik kopstijlen</li>
<li>Gebruik ingebouwde functies, vb. Wijzigingen bijhouden i.p.v. manueel doorhalen, opmrkingen i.p.v. geel gemarkeerde tekst invoegen ...</li>
<li><a target="tweede" href="https://www.anysurfer.be/nl/documentatie/artikels/detail/toegankelijke-word-documenten">Handleiding Word</a></li>
</ul>
</section>
<section>
<h2>PDF-documenten</h2>
<ul>
<li>Zorg voor toegankelijke brondocumenten</li>
<li><strong>Tagged PDF</strong> vanuit <a target="tweede" href="https://www.anysurfer.be/nl/documentatie/artikels/detail/toegankelijk-pdf-document-vanuit-word">Word</a> en <a target="tweede" href="https://www.anysurfer.be/nl/documentatie/artikels/detail/pdf-vanuit-indesign">InDesign</a></li>
</ul>
</section>
<section>
<img src="https://images.anysurfer.be/lora/Opties_2019-05-22_11.22.44.png" alt="Word opslaan als PDF" />
</section>
<section class="present" style="top: -299px; display: block;">
<h2>PDF checklist:</h2>
<ul>
<li>Taalaanduiding</li>
<li>Betekenisvolle titel</li>
<li>Structuur via tags:
<ul>
<li>Paragrafen</li>
<li>Koppen</li>
<li>Lijsten</li>
<li>Tabellen</li>
</ul>
</li><li>Alt-teksten voor afbeeldingen</li>
<li>Leesvolgorde</li>
<li>Tabvolgorde </li>
<li>Reflow volgorde</li>
<li>Kleuronafhankelijk</li>
</ul>
</section>
<section>
<p><a target="tweede" href="https://www.anysurfer.be/nl/documentatie/artikels/detail/pdf-documenten-testen-op-toegankelijkheid">PDF-document testen op toegankelijkheid</a></p>
</section>
<section>
<h2>Formulieren</h2>
<ul>
<li><a target="tweede" href="https://www.anysurfer.be/nl/documentatie/artikels/detail/formulieren-in-word-laten-invullen-geen-goed-idee">Niet in Word</a></li>
<li>Het is mogelijk invulbare PDF-documenten te maken</li>
<li>Webformulieren zijn het gemakkelijkst toegankelijk voor gebruikers, ontwikkelaars en ook voor gegevensverwerking</li>
</ul>
</section>