<!-- kleur & contrast -->
<section>
<h1>Kleur &amp; contrast</h1>
</section>
<section>
<h2>Kleurgebruik</h2>
<p>Gebruik niet alleen kleur om informatie over te brengen.</p>
</section>
<section>
<pre><code>body {
 filter : grayscale(100%);
}</code></pre>
</section>
<section>
<h2>Contrast</h2>
<ul>
<li>Tekst kleiner dan 24px: minimum 4,5:1</li>
<li>Tekst groter dan 24px: minimum 3:1</li>
<li>Vetgedrukte tekst van minstens 18,5px: minimum 3:1</li>
<li>User interface components: minimum 3:1</li>
</ul>
<aside class="notes">The ratio between sizes in points and CSS pixels is 1pt = 1.333px, therefore 14pt and 18pt are equivalent to approximately 18.5px and 24px.</aside>
</section>
<section>
<a target="tweede" href="http://www.paciellogroup.com/resources/contrastanalyser/"><img src="https://images.anysurfer.be/gijs/Colour_Contrast_Analyser_CCA_2019-03-20_15-44-37.png" /></a>
<p class="small">Colour Contrast Analyser</p>
</section>
<!--
<section>
<a target="tweede" href="https://color.review/"><img src="https://images.anysurfer.be/gijs/Color.review_-_Colors_that_look_and_work_great_for_everyone_2019-03-21_08-29-31.png" alt="color review" /></a>
</section>
-->
<section>
<h2>Tip</h2>
<p>Gebruik tinten van dezelfde kleur ipv verschillende kleuren.</p>
</section>
<section>
<img src="https://images.anysurfer.be/gijs/Image_2017-11-14_08-21-25.png" alt="rode en groene vierkanten" /><br>
<img src="https://images.anysurfer.be/gijs/Image_2017-11-14_08-23-04.png" alt="dezelfde vierkanten in grijswaarden met weinig verschil in contrast" />
</section>
<section>
<img src="https://images.anysurfer.be/gijs/Image_2017-11-14_08-28-44.png" alt="vierkant in rode tinten en vierkant in groene tinten" /><br>
<img src="https://images.anysurfer.be/gijs/Image_2017-11-14_08-27-38.png" alt="zelfde vierkanten in grijswaarden met groot verschil in contrast" />
</section>

<section>
<h2>Tools</h2>
<ul>
<li><a target="tweede" href="http://www.paciellogroup.com/resources/contrastanalyser/">Colour contrast analyser</a></li>
<li><a target="tweede" href="http://contrast-finder.tanaguru.com/">Tanaguru Contrast-Finder</a></li>
<li><a target="tweede" href="https://toolness.github.io/accessible-color-matrix/">Accessible color matrix</a></li>
<li><a target="tweede" href="https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en">Google Chrome Accessibility Developer Tools</a></li>
</ul>
</section>
