<!-- links -->
<section>
<h1>Links</h1>
</section>

<section>
<ul>
<li>Visueel te onderscheiden</li>
<li>Linktekst betekenisvol</li>
</ul>
</section>

<section>
<h2>Links visueel onderscheiden</h2>
<img alt="Screenshot links niet onderlijnd in menu, wel in paragrafen" src="https://images.anysurfer.be/linkteksten-20100609-171818.png" />
</section>
	<section>
		<a target="tweede" href="https://www.vrt.be/nl/jobs/faq/"><img src="https://images.anysurfer.be/gijs/FAQ__VRT.be_2017-09-27_14-14-32.png" alt="Blauwe links in zwarte paragrafen" /></a>
	</section>
	<section>
		<a target="tweede" href="https://www.vrt.be/nl/jobs/faq/"><img src="https://images.anysurfer.be/gijs/FAQ-_-VRT.be-2017-09-27-14-14-32-2.png" alt="zelfde screenshot in grijswaarden" /></a>
	</section>
	<section>
		<a target="tweede" href="https://www.vrt.be/nl/jobs/faq/"><img src="https://images.anysurfer.be/gijs/FAQ__VRT.be_2017-09-27_14-28-04.png" alt="zelfde screenshot met css text-decoration underline" /></a>
	</section>
	<section>
		<h2>Maak linkteksten betekenisvol</h2>
		<ul>
			<li>Bezoekers scannen eerst links</li>
			<li>Screenreadergebruikers navigeren via linklijst</li>
			<li>Zoekmachines belonen u als links relevante sleutelwoorden bevatten</li>
		</ul>
	</section>
	<section>
		<h2>Een betekenisvolle link</h2>
		<ul>
			<li>Omschrijft het doel van de link</li>
			<li>Is beknopt</li>
			<li>Maakt duidelijk wat er gaat gebeuren als de bezoeker klikt: vb. PDF-document downloaden, nieuw venster openen, geluid afspelen ...</li>
		</ul>
	</section>
	<section>
		<p><a target="tweede" href="http://www.seniorennet.be/Pages/Thuis_op_internet/computerhulp.php"><img src="https://images.anysurfer.be/links/klikhier.png" alt="Pagina met veel 'klik hier' links op seniorennet"></a></p>
	</section>
	<section>
		<img src="https://images.anysurfer.be/gijs/Computerhulp_SeniorenNet_-_de_startpagina_voor_senioren_de_actieve_50-plussers_2015-01-21_07-07-04.png" alt="VoiceOver link lijst seniorennet klik hier" />
	</section>
	<section>
		<h2>Niet goed</h2>
		<ul>
			<li>klik hier</li>
			<li>download</li>
			<li>brochure</li>
			<li>&lt;&lt; &nbsp;&nbsp; &lt; &nbsp; Mei 2021 &nbsp; &gt; &nbsp;&nbsp; &gt;&gt;</li>
			<li>meer ...</li>
		</ul>
	</section>
	<section>
		<h2>A link is a promise</h2>
		<ul>
			<li>Download het <a target="tweede" href="#">overzicht van onze tarieven (PDF)</a>.</li>
			<li><a target="tweede" href="#">Herbeluister het interview met minister X</a></li>
			<li><a target="tweede" href="#">Download de NMBS app uit Apple Store</a></li>
</ul>
</section>
