<!-- Semantiek -->
<section>
		<h1>Semantiek</h1>
	</section>
	<section>
		<p>Gebruik beschrijvende HTML-elementen:</p>
		<ul>
			<li>Koppen: h1-h6</li>
			<li>Lijsten: ul/ol</li>
			<li>Tabellen: th en caption</li>
			<li>Blokken: header, nav, main, footer</li>
		</ul>
	</section>
	<section>
		<h2>Koppen</h2>
		<ul>
			<li>Wat er als kop uitziet, is ook als kop gemarkeerd.</li>
			<li>Niet enkel vet en groter lettertype</li>
			<li>Kies juiste kopniveau en respecteer hiërarchie in kopniveau's</li>
		</ul>
	</section>
	<section>
		<h2>Hoe testen?</h2>
		<ul>
			<li>Gebruik de Web Developer Toolbar,</li>
			<li>Vink aan Outline > Show element tag names</li>
			<li>Kies Outline &gt; Outline Headings</li>
		<li>Koppen zijn nu gemarkeerd en het kopniveau is aangegeven.</p>
	</ul>
</section>

<section>
<p><img src="https://images.anysurfer.be/structure/outline_headings.png" alt="screenshot outline headings " /></p>
</section>
<!--
<section>
<h2>Oefening</h2>
<p>Corrigeer de kopniveaus</p>
<p><a target="tweede" href="http://jsfiddle.net/FiveOaks/2d49pfe9/">http://jsfiddle.net/FiveOaks/2d49pfe9/</a></p>
</section>
-->
<section>
<h2>Tabellen</h2>
<ul>
		<li>Th-elementen voor tabelhoofdingen</li>
		<li>Caption als er een bijschrift is</li>
		<li><a target="tweede" href="https://examples.anysurfer.be/2.4.2/tabelhoofdingen.html">Voorbeeld</a></li>
</ul>
</section>
<section>
<h2>Sectioning elements</h2>
<ul>
		<li>&lt;header&gt; en &lt;footer&gt; </li>
		<li>&lt;nav&gt; voor hoofd- en submenu</li>
		<li>&lt;main&gt; voor hoofdinhoud</li>
		<li>Overdrijf niet: vb. &lt;article&gt; enkel voor uitneembare blokken</li>
</ul>
</section>
<!--
<section>
<h2>Oefening</h2>
<p>Markeer de pagina met HTML5 sectioning elementen</p>
<p><a target="tweede" href="http://jsfiddle.net/FiveOaks/07fzuadx/">http://jsfiddle.net/FiveOaks/07fzuadx/</a></p>
</section>
-->
<section>
<h2>Gebruik semantische elementen enkel waarvoor ze bedoeld zijn</h2>
<ul>
		<li>Geen h6 voor kleine tekst</li>
		<li>Geen blockquote om in te springen</li>
		<li>Nav enkel voor hoofdnavigatieblokken</li>
</ul>
</section>
