<!-- video -->
<section>
<h1>Video &amp; audio</h1>
</section>
<section>
<ul>
<li>Louter geluid: tekstversie</li>
<li>Louter beeld: tekstversie of audiospoor</li>
<li>Video met beeld en geluid:
<ul>
<li>Ondertiteling</li>
<li>Indien nodig audiodescriptie</li>
<li>Nuttig maar niet verplicht: tekstversie en gebarentaal</li>
</ul>
</li>
<li>Toegankelijke speler</li>
</ul>
</section>
<section>
<h2>Tekstversie</h2>
<ul>
<li>Alle gesproken tekst</li>
<li>Wie is aan het woord</li>
<li>Andere belangrijke geluiden vermelden</li>
<li>Hoorbare emoties</li>
</ul>
</section>
<section>
<h2>Goede voorbeelden</h2>
<ul>
<li><a target="tweede" href="https://ebuaccesscast.libsyn.com/ebuaccesscast26-transcript">Podcast met tekstversie</a></li>
<li><a target="tweede" href="https://lv.vlaanderen.be/nl/voorlichting-info/videozone">Video met tekstversie op aparte pagina</a></li>
<li><a target="tweede" href="https://www.seksueelgeweld.be/#text-toggle">Video met transcript onder de video</a></li>
</ul>
</section>
<section>
<h2>Ondertitels voor doven en slechthorenden (captions)</h2>
<ul>
<li>In de taal van de video</li>
<li>Zo letterlijk mogelijke weergave van gesproken tekst</li>
<li>Wat verder hoorbaar is maar niet zichtbaar:
<ul>
<li>Wie is aan het woord?</li>
<li>Belangrijke geluiden</li>
<li>Stilte</li>
<li>De manier waarop iemand iets zegt</li>
</ul>
</li>
</ul>
</section>
<section>
<h2>Automatisch synchroniseren</h2>
<img src="https://images.anysurfer.be/gijs/youtube-sync.png" alt="YouTube backend met optie transcript maken en automatisch synchroniseren" />
</section>
<section>
<h2><a target="tweede" href="https://www.anysurfer.be/nl/blog/detail/youtube-maakt-ondertitelen-gemakkelijker">Automatische ondertiteling YouTube</a></h2>
<ul>
<li>Kan handig vertrekpunt zijn als je niet over een tekstversie beschikt</li>
<li>Kwaliteit onvoldoende:
<ul>
<li>woorden fout herkend</li>
<li>geen leestekens</li>
<li>lichtkrant-effect</li>
</ul>
</li>
</ul>
</section>
<section>
<h2>Mogelijke werkwijze</h2>
<ul>
<li>Download automatisch gegeneerde ondertiteling</li>
<li>Verwijder alle tijdcodes</li>
<li>Verbeter alle fouten</li>
<li>Gebruik leestekens, hoofdletters en maak volledige zinnen.</li>
<li>Vul ontbrekende informatie aan</li>
</ul>
</section>
<section>
<h2>Vervolg mogelijke werkwijze</h2>
<ul>
<li>Upload opnieuw naar Youtube</li>
<li>Youtube zal opnieuw synchroniseren</li>
<li>Pas eventueel nog wat tijdcodes aan</li>
<li>Desactiveer de automatisch gegenereerde ondertitels</li>
</ul>
</section>
<section>
<h2>Tijdswinst</h2>
<ul>
<li>AI schrijft veel gesproken tekst correct uit</li>
<li>Grote hulp bij synchroniseren</li>
<li>Tekstversie en ondertitels zijn voor 95% identiek</li>
</ul>
</section>
<section>
<h2>Voorbeelden</h2>
<ul>
<li><a target="tweede" href="https://lv.vlaanderen.be/nl/voorlichting-info/videozone">Landbouw en visserij</a></li>
<li><a target="tweede" href="https://www.klasse.be/214727/leren-moestuin-school-outdoorlearning/">Klasse</a></li>
</ul>
</section>
<section>
<h2>Audiodescriptie</h2>
<ul>
<li>Extra audiospoor voor blinden</li>
<li>Beschrijft wat niet hoorbaar is</li>
<li>Overbodig voor 'talking heads' video</li>
<li><a target="tweede" href="https://www.youtube.com/embed/24UiKsDmHWI?autoplay=1">Voorbeeld aanvullende beschrijving</a></li>
<li><a target="tweede" href="http://www.youtube.com/embed/x1trbXlDSb8?autoplay=1">Audiospoor voor video met enkel beeld</a></li>
<li><a target="tweede" href="https://www.youtube.com/embed/X6DmzwBTRwo?autoplay=1">#WeThe15 met audiodescriptie</a> (extended)</li>
</ul>
<!--
<li>Voorbeelden:
<ul>
<li><a target="tweede" href="https://www.youtube.com/embed/rgRv4bSdLdU?autoplay=1">The Interviewer</a></li>
<li>Netflix > Browse > audio &amp; subtitles</li>
</ul>
</li>
-->
</section>
<section>
<h2>Vermijdbaar</h2>
<blockquote>Bel ons op dit nummer.</blockquote>
</section>
<section>
<ul>
<li>Laat de persoon het telefoonnummer uitspreken</li>
<li>Of vermeld het nummer in tekst buiten de video.</li>
</ul>
</section>
<section>
<blockquote>Op deze grafiek ziet u de evolutie van het aantal patiënten dat vorige week in het ziekenhuis is opgenomen.</blockquote>
</section>
<section>
<blockquote>Het aantal patiënten dat vorige week in het ziekenhuis is opgenomen, daalde van 100 op maandag naar 50 op zondag.</blockquote>
</section>
<section>
<h2>Vakwerk</h2>
<ul>
<li>Audiodescriptie toevoegen aan bestaande video is specialistenwerk</li>
<li>Beschikbare tijd is beperkt</li>
<li>Welke informatie is essentieel</li>
<li>Goede opname van een duidelijke stem</li>
</ul>
</section>
<section>
<h2>Nieuwe video of audio</h2>
<ul>
<li>Bewaar de tekst die mensen inspreken</li>
<li>Liever closed captions dan open captions</li>
<li>Vermijd de nood aan audiodescriptie</li>
<li>Gebruik een AI-dienst om gesproken woord in tekst om te zetten</li>
</ul>
</section>
<section>
<h2>Toegankelijke speler</h2>
<ul>
<li>Bedienbaar met toetsenbord?</li>
<li>Knoppen goed gelabeld</li>
<li>Als controls verdwijnen, kan je ze dan terug oproepen?</li>
</ul>
</section>
<!--
<section>
<h2>Oplossing</h2>
<ul>
<li>Kies een <a target="tweede" href="https://www.anysurfer.be/nl/documentatie/artikels/detail/videospelers">toegankelijke speler</a></li>
</ul>
</section>
-->