
    <section>
        <h1>Introductie</h1>
    </section>
<!-- ----------------- Doorsnede ------------------ -->
    <section>
        <h2>Teamwork</h2>
        <p>Iedereen werkt samen in alle stadia: <br> van ontwerp tot en met ontwikkeling.</p>

        <aside class="notes">
            <p>We moeten rekening houden met toegankelijkheid op alle niveau's van ontwerp en ontwikkeling. Het is een gezamelijke inspanning.</p>
            <ul>
                <li>designer</li>
                <li>ontwikkelaar</li>
                <li>redacteur</li>
                <li>tester</li>
                <li>maar ook: manager, projectleider, scrum master, productleider... (budget en planning)</li>
            </ul>
        </aside>
    </section>

<!-- --------------------- Design ---------------------- -->
    <section>
        <h2>Rol van de designer</h2>
        <ul>
            <li>UX Design</li>
            <li>UI Design</li>
            <li>Communicatie met de ontwikkelaars</li>
        </ul>

        <aside class="notes">
            <p>De rol van de designer is niet binnen alle ondernemingen dezelfde. We gaan het onderwerp in deze cursus vrij breed houden.</p>
        </aside>
    </section>
</section>

<!-- ======================  UX  ======================= -->
<section>
        <section>
                <h1>User Experience</h1>
                <p><img src="https://images.anysurfer.be/design/sux.png" alt="Tweet op 6 januari 2015 van Billy Gregory disant : 'When UX doesn't consider ALL users, shouldn't it be known as 'SOME User Experience' or... SUX?"></p>
                <aside class="notes">
                    <p>Billy Gregory : toegankelijkheidsexpert bij Ubisoft (gaming), werkte voordien voor "The Paciello Group".</p>
                    <p>Wanneer de UX geen rekening houdt met ALLE gebruikers, moeten we het dan hebben over "SOME User Experience" of... SUX ?</p>
                </aside>
        </section>
        <section>
                <h2>Toegankelijkheid is een onderdeel van UX</h2>
                <p><img src="https://images.anysurfer.be/design/ux-user-experience.png" alt=""></p>
                <p>Honingraatdiagram van Peter Morville</p>
                <aside class="notes">
                    <p>De user experience honeycomb is een tool die de verschillende facetten van user experience design 
                        uitlegt. Omdat veel aspecten van dit veld veel verder gaan dan bruikbaarheid, was Peter van mening 
                        dat dit nieuwe diagram klanten zou helpen opleiden. De honingraat helpt om de juiste balans te 
                        vinden tussen de verschillende aspecten van een goede gebruikerservaring.</p>
                </aside>
        </section>
<!-- --------------- Verschillende stapppen ---------------- -->
        <section>
            <h2>Verschillende stappen</h2>
            <img src="https://images.anysurfer.be/design/uxprocess.png" alt="">
            <ul>
                    <li>A. Planning : Projectdefinitie en vooronderzoek</li>
                    <li>B. Verkenning : verzamelen van de noden van de gebruikers</li>
                    <li>C. Concept : uitwerken van conceptideeën</li>
                    <li>D. Ontwikkeling : formuleren van conceptoplossingen</li>
                    <li>E. Evaluatie : terugkerende herhaling van algemene oplossingen</li>
            </ul>

            <aside class="notes">
                <p>weerkerend ontwerpcyclus van interactieve systemen (bron: Méthodes de design UX, Carine Lallemnad)</p>
            </aside>
        </section>
        <!-- - - - - - - - - - - Voorbeelden - - - - - - - - - - - -->
        <section>
                <h2>Denk na over toegankelijkheid in elke fase</h2>
                <p>Neem mensen met een handicap op, bijvoorbeeld tijdens : </p>
                <ul>
                    <li>aanwerving (planning)</li>
                    <li>interviews (verkenning)</li>
                    <li>observatie (verkenning)</li>
                    <li>bij de creatie van persona's (concept)</li>
                    <li>mock-up (ontwikkeling)</li>
                    <li>gebruikerstesten (evaluatie)</li>
                </ul>
                <aside class="notes">
                    <p>De basis voor het verbeteren van de toegankelijkheid van een digitaal product is om vanaf het begin 
                        na te denken over toegankelijkheid, d.w.z. bij het werven van gebruikers voor UX-onderzoek en het 
                        opnemen van mensen met een handicap in het panel in elke fase.</p>
                </aside>
        </section>
        <!-- - - - - - - - - - - Personas  - - - - - - - - - - - -->
        <section>
            <h2>Persona's</h2>
            <p>Idee van Kazuhiko Tsuchiya</p>
            <ul>
                <li><a href="https://www.youtube.com/watch?v=bz3rxYDYOIw" target="_blank" rel="noopener">Inclusive Persona Extension - Youtube (en)</a></li>
                <li><a href="https://github.com/caztcha/Inclusive-Persona-Extension" target="_blank" rel="noopener">Inclusive Persona Extension (github)</a></li>
            </ul>
            <aside class="notes"></aside>
        </section>
        <section>
            <h3>Voeg context toe aan de persona</h3>
            <img src="https://images.anysurfer.be/design/persona_extension.png" alt="">
            <aside class="notes">Het is een kwestie van het creëren van iemands persona's of pseudo-persona's zoals 
                gewoonlijk op basis van onderzoek en gegevens en het toevoegen van handicap als context.</aside>
        </section>
</section>

<!-- ======================  UI  ======================= -->
<section>
    <section>
        <h1>User Interface</h1>
        <img src="https://images.anysurfer.be/design/designsystem.png" alt="">
    </section>

    <!-- ------------------- Design System ----------------- -->
    <section>
        <h2>Design System</h2>
        <ul>
            <li>toegankelijke gestandaardiseerde componenten ;</li>
            <li>duidelijke documentatie ;</li>
            <li>gecentraliseerd testen ;</li>
            <li>bespaart tijd.</li>
        </ul></p>
        <aside class="notes">
            <p>Het creëren van een Design System is een pluspunt op vlak van toegankelijkheid :</p>
            <ul>
                <li>goed communicatiemiddel dat voor iedereen nuttig is</li>
                <li>resultaat van samenwerking tussen ontwerpers, ontwikkelaars, copywriters, enz. (normaalgezien)</li>
                <li>elk onderdeel wordt ontworpen om herbruikbaar te zijn, een goede plek om na te denken over toegankelijkheid.</li>
            </ul>
        </aside>
    </section>
    
    <section>
        <h2>Voorbeelden van Design Systems</h2>
    </section>

    <section>
        <h3><a href="http://material.io" target="_blank" rel="noopener noreferrer"><strong>Material Design</strong></a> - Google</h3>
        <ul>
            <li>Pagina gewijd aan toegankelijkheid : <a href="https://m3.material.io/foundations/accessible-design/overview" target="_blank" rel="noopener">Accessible design</a></li>
            <li>Elke componentkaart heeft een tabblad Toegankelijkheid. Bijvoorbeeld : <a href="https://m3.material.io/components/cards/accessibility#ce764d54-6b59-42db-807f-b3cb370eecdb" target="_blank" rel="noopener">Cards / accessibility</a></li>
        </ul>
        <aside class="notes">
            <p>Deze voorbeelden zijn misschien niet perfect, maar er wordt rekening gehouden met toegankelijkheid, wat al een zeer positief punt is.</p>
        </aside>
    </section>

    <section>
        <h3><a href="https://carbondesignsystem.com/" target="_blank" rel="noopener noreferrer"><strong>Carbon Design System</strong></a> - IBM</h3>
        <ul>
            <li>Pagina gewijd aan toegankelijkheid : <a href="https://carbondesignsystem.com/guidelines/accessibility/overview/" target="_blank" rel="noopener">Accessibility</a></li>
            <li>Elke componentkaart heeft een tabblad Toegankelijkheid. Bijvoorbeeld : <a href="https://carbondesignsystem.com/components/accordion/accessibility" target="_blank" rel="noopener">Accordion/ Accessibility</a></li>
        </ul>
    </section>
</section>

<!-- ==================  Communicatie  ================= -->
<section>
    <section>
        <h1>Communicatie</h1>
        <aside class="notes">
            <p>met de ontwikkelaars, redacteurs, maar ook met de designers onderling</p>
        </aside>
    </section>
    <section>
        <h2>Toegankelijkheid documenteren</h2>
        <ul>
            <li>in het Design System</li>
            <li>als opmerking bij de modellen</li>
        </ul>
    </section>
    <section>
        <ul>
            <li>kleur</li>
            <li>typografie</li>
            <li>statusindicatoren</li>
            <li>toetsenbordgedrag</li>
            <li>structuur (layout)</li>
            <li>samenhang</li>
            <li>regions</li>
            <li>skiplinks</li>
            <li>titelniveau</li>
            <li>tabvolgorde</li>
            <li>leesvolgorde</li>
            <li>link of knop</li>
            <li>tekstalternatieven voor afbeeldingen</li>
            <li>label voor knoppen/linken zonder tekst</li>
            <li>meerdere toegangen</li>
            <li>etc.</li>
        </ul>
        <aside class="notes">
            <p>Er is veel om over na te denken en te communiceren en de verschillende elementen zijn vaak met elkaar verbonden</p>
        </aside>
    </section>

    <section>
        <h2>Meer info</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=eDCd-isluUY&t=5s">A designer's guide to documenting accessibility, </a>Stéphanie Walter</li>
            <li><a href="https://www.youtube.com/watch?v=Y35jmpS8lQM">Annotating designs for Accessibility</a>, Sarah Pulis en Claire Webber</li>
        </ul>
    </section>
    <section>
        <h3>Tools Figma</h3>
        <ul>
            <li><a href="https://www.figma.com/community/plugin/1085612091163821851">Axe for Designers</a></li>
            <li><a href="https://www.figma.com/community/plugin/731310036968334777">A11y - Focus Order</a></li>
            <li><a href="https://www.figma.com/community/plugin/733159460536249875">A11y - Color Contrast Checker</a></li>
        </ul>
    </section>


    