<section>
<h1>Wetgeving</h1>
</section>

<section>
<h2>Europese richtlijnen</h2>

<ul>
	<li><strong>Web Accessibility directive (WAD)</strong>: websites en apps van de overheid moeten toegankelijk zijn</li>
	<li><strong>European Accessibility Act (EAA)</strong>: sommige alledaagse producten en diensten moeten toegankelijk zijn (ook in prive-sector)</li>
</ul>

</section>

<section>
	<h2>Web Accessibility directive</h2>
	<p><a target="tweede" href="https://www.anysurfer.be/nl/documentatie/artikels/detail/europese-richtlijn-toegankelijkheid-overheidswebsites">Europese richtlijn toegankelijkheid overheidswebsites</a></p>
</section>

<section>
<h2>Omzettingen</h2>
<ul>
<li><a target="tweede" href="http://www.ejustice.just.fgov.be/eli/loi/2018/07/19/2018040577/moniteur ">Federaal</a></li>
<li><a target="tweede" href="http://www.ejustice.just.fgov.be/eli/decret/2018/12/07/2018032457/moniteur ">Vlaanderen</a></li>
<li><a target="tweede" href="http://www.ejustice.just.fgov.be/eli/ordonnance/2018/10/04/2018031954/moniteur ">Brussels Hoofdstedelijk Gewest</a></li>
<li><a target="tweede" href="https://www.etaamb.be/fr/decret-du-02-mai-2019_n2019203962.html" lang="fr">Service Public de Wallonie</a></li>
<li><a target="tweede" href="https://www.etaamb.be/fr/decret-du-03-mai-2019_n2019041903.html" lang="fr">Ministère de la communauté française</a></li>
<li><a target="tweede" href="https://www.etaamb.be/fr/decret-du-09-mai-2019_n2019012800.html">COCOF</a></li>
<li> <a target="tweede" href="http://www.ejustice.just.fgov.be/eli/decret/2018/10/15/2018205558/moniteur ">Duitstalige gemeenschap
</a></li>
</ul>
</section>

<section>
<h2>Inhoud</h2>
<ul>
<li>Moeten toegankelijk zijn:
<ul>
<li>Websites overheid: sinds september 2020.</li>
<li>Apps overheid: sinds juni 2021.</li>
</ul>
</li>
<li>Toegankelijkheidsverklaring is verplicht.</li>
<li>Norm: <a target="tweede" href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines 2.1 Niveau AA</a>.</li>
<li><a target="tweede" href="https://accessibility.belgium.be">FOD Bosa</a> is bevoegd voor handhaving, monitoring en rapportering.</li>
</ul>
</section>

<section>
<h2>Toegankelijkheidsverklaring</h2>
<ul>
<li>Verplicht voor overheidswebsites</li>
<li><a target="tweede" href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:32018D1523&from=EN">Template van de Europese commissie</a></li>
<li><a target="tweede" href="https://accessibility.belgium.be/nl/invulassistent-toegankelijkheidsverklaring">Invulassistent van BOSA</a></li>
</ul>
<p></p>
</section>

<section>
<h2>Inhoud van de Toegankelijkheidsverklaring</h2>
<ul>
<li>Aan welke toegankelijkheidsnorm voldoet de website/app?</li>
<li>Voldoet de website aan de norm helemaal, gedeeltelijk of niet?</li>
<li>Hoe hebben we dat getest?</li>
<li>Als onderdelen nog niet toegankelijk zijn, wat is dan het tijdelijke alternatief?</li>
<li>Waar kan de gebruiker terecht als hij/zij toch toegankelijkheidsproblemen ondervindt?</li>
<li>Wat is de handhavingsprocedure als de gebruiker geen (adequate) reactie krijgt op feedback?</li>
</ul>
<p><a target="tweede" href="https://www.anysurfer.be/nl/documentatie/artikels/detail/toegankelijkheidsverklaring">Hoe schrijf ik een toegankelijkheidsverklaring?</a></p>
</section>

	<section>
	<h2>European Accessibility Act</h2>
	<ul>
		<li>Treedt in werking vanaf 28 juni 2025</li>
		<li>Zekere producten en diensten moeten toegankelijk zijn: 
		<ul>
				<li>Producten: computers, smartphones, bankautomaten, machines om etiketten te kopen, televisies, e-readers,...</li>
			<li>Diensten : 112 nummer, telecom, banken, openbaar vervoer, e-commerce,...</li>
		</ul></li>
		<li>Wordt omgezet naar meerdere wetteksten volgens thema.</li>
	</ul>
		
</section>
<!-- <section>
	<h2>WAD en EAA</h2>
	<p><img src="https://images.anysurfer.be/anysurfer/wad_eaa_compared.png" alt="screenshot vergelijking WAD en EAA, openbaar versus publiek, lidstaten moeten richtlijn omzetten naar eigen wetgeving en de standaard" /></p> 
	<p>Bron: Deque</p>
</section> -->

</section>
