  <section>
    <h1 class="persona_title">Cecile is doof</h1>
    <img src="https://images.anysurfer.be/gijs/cecile.svg" class="stretch" alt="cecile" />
  </section>

  <section>
    <p>Cecile</p>
    <blockquote>"Ik heb me ingeschreven voor een online cursus webdesign met Figma. Elke hoofdstuk van de cursus heeft oefeningen die in een video worden uitgelegd. Ik snap de oefeningen niet omdat de video's niet zijn ondertiteld. Zou ik mijn inschrijvingsgeld kunnen terugvragen?"</blockquote>
  </section>

  <section>
    <h2>Vertalend ondertitelen</h2>
    <img src="http://images.anysurfer.be/gijs/20191105-poetin.jpg" alt="Poetin met Nederlandse ondertitels over op nos.nl" />
  </section>

  <section>
    <h2>Captions voor doven en slechthorenden</h2>
    <a href="https://www.youtube.com/watch?v=wsfxuU_VKqw"><img src="https://images.anysurfer.be/gijs/20191105-youtube-cc.jpg" alt="YouTube TV klasse met captioning"></a>
  </section>  

  <section>
    <h2>Transcript voor podcasts</h2>
    <a href="https://docs.google.com/document/d/e/2PACX-1vTQPt6NqQalU6KHQI2MBoigINKV8isct_jCPe7FFrqHkO0hJAvA1y67ApFbt0GQG9-qH9aOyjplE_E4/pub" target="_blank"><img src="https://images.anysurfer.be/lora/1.5__Here_There_Be_Gerblins_-_Part_One_(Super_Cut)_-_The_Adventure_Zone_transcript_-_TAZscripts_-_Mozilla_Firefox_2019-04-02_10.09.49.png" alt="Podcast transcript: The Adventure Zone aflevering 4"></a>
  </section>

  <section>
    <ul>
      <li>Captioning voor video</li>
      <li>Transcript voor audio</li>
    </ul>
  </section>   

  <section>
    <h2>Waarom gebruik jij ondertiteling?</h2>
    <p><a href="https://sebastiangreger.net/2019/02/ux-closed-captions-for-everybody/">Bron: clode captions for everybody</a></p>
  </section>

  <section>
    <blockquote>Nederlands is mijn tweede taal. Met ondertitels kan ik makkelijker volgen. En ik leer er van bij.</blockquote>
  </section>
  
  <section>
    <blockquote>Anders versta ik mensen niet die mompelen of in dialect spreken.</blockquote>
  </section>

  <section>
    <blockquote>Er zitten verschillende mensen in de kamer op verschillende schermen (competing noise).</blockquote>
  </section>

  <section>
    <blockquote>Ik wil de anderen in de treinwagon niet storen en heb geen oortjes bij.</blockquote>
  </section>

  <section>
    <blockquote>Ik kijk op laag volume omdat mijn kindje slaapt maar dan versta ik de dialogen niet meer.</blockquote>
  </section>

  <section>
    <blockquote>Chips.</blockquote>
  </section>  