  <section>
  <h1 class="persona_title">David is blind en gebruikt een screenreader</h1>
  <img src="/tech/img/david.png" class="stretch" alt="David" />
  </section>



  <section>
  <img src="/tech/img/braille_leesregel.png" alt="Brailleleesregel met Mac OS X laptop" />
  </section>

  <section>
  <img src="/tech/img/leesregeldetail.jpg" alt="leesregel ingezoomd op 6 braillepunten" />
  </section>

  <section>
    <p>David</p>
    <blockquote>Ik zoek een lokale verdeler van mijn expresso-apparaat dat niet meer werkt. Op de site staan geen adressen, enkel een afbeelding met de alt-tekst 'kaart verdelers'.</blockquote>
  </section>

  <section>
  <h2>Voorbeelden</h2>
  <ul>
  <li><a href="https://www.anysurfer.be/nl/over-toegankelijkheid/voor-wie/hulpmiddelen">Demo</a></li>
  <li><a href="http://www.speelgoedmuseum.be/">Grafische links</a></li>
  <li><a href="http://trente.be/">Taal fout ingesteld</a></li>
  </ul>
  </section>


  <section>
    <ul>
      <li>Geef afbeeldingen een beschrijvende tekst</li>
      <li>Voeg de juiste taalcode toe</li>
      <li>Goede koppenstructuur</li>
    </ul>
  </section> 