<section id="filemon">
    <h1 class="persona_title">Filemon, 73 jaar oud, ziet en hoort niet goed</h1>
    <img src="img/filemon.png" alt="Filemon" class="stretch" />
</section>

					
                    <section>
                        <blockquote>
                            <p>Onlangs probeerde ik me in te schrijven op een conferentie. Het is me nooit gelukt omdat ik de CAPTCHA niet kon oplossen. </p>
                        </blockquote>
                    </section>
                    

                    <section>
                       <a href="http://audio.anysurfer.be/audiocaptcha_reCaptcha_truetwit.mp3"><img src="http://slides.anysurfer.be/reveal/img/captcha.jpg" alt="Screenshot CAPTCHA met tekst kill captcha, mp3 audiacaptcha Recaptcha" /></a>
                        <p><a href="http://anysurfer.be/nl/in-de-praktijk/websites/spam-vermijden-zonder-captcha">Oplossingen</a></p>
                    </section>

                    <section>
                        <a href="http://anysurfer.be/nl/blog/detail/googles-recaptcha-v2"><img src="http://images.anysurfer.be/gijs/robot.png" alt="Google ReCAPTCHA checkbox I'm not a robot" /></a>
                    </section> 



                    <section>
                        <img src="https://images.anysurfer.be/captcha/recaptcha_feux.png" alt="Google recaptcha : identifier les feux de signalisation dans une grille de 16 images" /></a>
                    </section> 
                    


                    <!--<section>
                        <h2>Conseil</h2>
                        <p>Pensez aux petits écrans et au zoom lors du design</p>
                    </section>-->
                    
                    <section>
                        <h2>Conseil</h2>
                        <p><a href="http://anysurfer.be/fr/en-pratique/sites-web/eviter-le-spam-sans-captcha">Vermijd SPAM zonder CAPTCHA</a></p>
                    </section>
