    <section>
  <h1>Handicap</h1>
  </section>

  <section>
  <img src="img/who.png" alt="World Health Organisation" />
  <blockquote>About 15% of the world's population lives with some form of disability.</blockquote>
  </section>
    
  <section>
  <img src="http://images.anysurfer.be/disability-cloud.png" alt="word cloud disabilities" />
  </section>
    
  <section>
  <h2>Beperkingen</h2>
  <ul>
  <li>Visueel</li>
  <li>Auditief</li>
  <li>Motorisch</li>
  <li>Cognitief</li>
  </ul>
  </section>
   
  <section>
  <h2>Belgische bevolking</h2>
  <p>18% is ouder dan 65 in 2017</p>
  </section>  

  <section>
  <img src="https://images.anysurfer.be/gijs/win-a11y-touch.png" alt="touch permanent one arm, temporary arm injury, situational holding baby" />
  </section> 

  <section>
    <img class="stretch" src="https://images.anysurfer.be/gijs/iphone-motor-mount.png" alt="gps houder op het stuur van een motor" />
  </section>

  <section>
    <img src="https://images.anysurfer.be/gijs/gps-motor.png" alt="google maps en apple maps" />
  </section>