
  <section>
  <h1 class="persona_title">Jerry is kleurenblind</h1>
  <img src="/tech/img/jerry.png" class="stretch" alt="Jerry, kleurenblind" />
  </section>



  <section>
  <h2>8% mannen is "kleurenblind"</h2>
  <ul>
    <li>deuteran (groen - komt het meest voor)
    <li>protan (rood - zeldzaam)</li>
    <li>tritan (blauw - zeer zeldzaam)</li>
  </ul>
  </section>

  <section>
  <img class="stretch" src="https://images.anysurfer.be/gijs/74.jpg" alt="nummer 74 onzichtbaar voor kleurenblinden" />
  </section>

  <section>
  <img class="stretch" src="https://images.anysurfer.be/gijs/74-after.jpg" alt="zelfde afbeelding met cijfer 74 zonder achtergrondkleur" />
  </section>

  <section>
  <img class="stretch" src="https://images.anysurfer.be/gijs/21.jpg" alt="zelfde afbeelding met cijfer 21 zeer moeilijk te herkennen" />
  </section>  

    <section>
    <p>Jerry</p>
    <blockquote>"Ik kon als kind niet meespelen met UNO want ik zag niet of mijn kaarten rood of groen waren."</blockquote>
  </section>

  <!--<section>
    <a href="http://wearecolorblind.com/example/trivial-pursuit/"><img src="http://slides.anysurfer.be/tech/img/trivialpursuit.jpg" alt="trivial pursuit spel blokje met verschillende kleuren" /></a>
  </section>-->

  <section>
    <p><img src="https://images.anysurfer.be/gijs/uno-original.jpg" alt="uno origineel" /></p>
  </section>

  <section>
    <p><img src="https://images.anysurfer.be/gijs/uno-colorblind.jpg" alt="uno met symbolen voor kleurenblinden" /></p>
  </section>

  <section>
  <img src="http://images.anysurfer.be/gijs/spitsuren_nok.png" alt="niet oké drukte winkel tabel met groen en rode cellen" />
  </section>
            
  <section>
  <img src="http://images.anysurfer.be/gijs/spitsuren_ok.png" alt="oké drukte winkel tabel met 1, 2 of drie mannetjes in een cel" />
  </section>

  <section>
  <img alt="Two Dots: spel om bolletjes te verbinden. Links enkel kleur. Rechts ook vorm" src="http://images.anysurfer.be/gijs/twodots.png">
  <aside class="notes">Two Dots, a game focused around making connections of dots of the same color also has a color-blind mode.</aside>
  </section>

  <section>
  <img alt="Trello: links gekleurde labels. Rechts: ook ander patroon" src="http://images.anysurfer.be/gijs/textuur.png">
  <aside class="notes">Trello, a web-based application that allows users to organize tasks, has a color blind mode that adds texture to labels.</aside>
  </section>

  <section>
  <p>Gebruik niet alleen kleur om informatie over te brengen</p>
  </section>
