<section id="jim">
	<h1 class="persona_title"">Jim heeft een motorische handicap en gebruikt vooral het toetsenbord</h1>
	<img src="img/jim.png" class="stretch" alt="Jim" />
</section>



<section>
	<blockquote><p>Ik kan mijn handen niet gebruiken en spreken is moeilijk. Ik bedien mijn toetsenbord met een <a href="http://youtu.be/Rz2HpGC9vbw">headstick</a>. </p></blockquote>
</section>


<section>
	<h2>Belangrijke toetsen</h2>
	<ul>
		<li><kbd>TAB</kbd> : naar volgend interactief element</li>
		<li><kbd>Shift</kbd> + <kbd>TAB</kbd> : naar vorig interactief element</li>
		<li><kbd>ENTER</kbd> : link of knop activeren </li>
		<li><kbd>spatie</kbd> : checkbox of radioknop selecteren</li>
		<li>pijltjes beneden en boven: selectie maken in een lijst</li>
	</ul>
</section>

<section>
	<p>Probeer het zelf.</p>
</section> 

<section>
	<h2>Voorbeeld 1 - zichtbare focus</h2>
	<p>Probeer met de tabtoets een pagina te bereiken: </p>
		<ul>
			<li>Stages op <a href="https://jobs.leefmilieu.brussels/nl/index.aspx">Jobs - Brussel Leefmilieu</a></li>
			<li>Duurzaamheid op <a href="https://career.bpost.be/nl">Jobs bij Bpost</a></li>
		</ul>
</section>

<section>
	<h2>Voorbeeld 2 - uitklapmenus</h2>
	<p>Probeer het menu uit te klappen zonder de muis te gebruiken. Bij welke van de twee sites lukt het wel? </p>
		<ul>
			<li><a href="https://www.hvw-capac.fgov.be/nl/tips-voor-een-vlottere-dienstverlening">HVW</a></li>
			<li><a href="https://www.bpost.be/fr/home#">Bpost</a></li>
		</ul>
</section>

<section>
	<h2>Voorbeeld 3 - FAQ</h2>
	<p>Kan je de antwoorden van de vragen zichtbaar maken zonder muis ?</p>
		<ul>
			<li><a href="https://www.fintro.be/fr/Public/FAQ/FAQ-Banque-au-quotidien?axes4=prof">Fintro</a></li>
			<li><a href="https://www.keytradebank.be/fr/aide/faq">Keytrade</a></li>
		</ul>
</section>
					
					<section>
						<h2>Best practice</h2>
						<p>Alles wat met de muis kan, moet ook met toetsenbord werken. </p>
					</section>
