
  <section>
  <h1 class="persona_title">Karolijn heeft last van RSI en gebruikt spraakcommando's</h1>
  <img src="/tech/img/karolijn.png" class="stretch" alt="Karolijn" />
  </section>

  <section>
  <h2>Demo</h2>
  <ul>
    <li><a href="https://www.youtube.com/embed/kJKQmTumFP0?autoplay=1">Dragon Naturally Speaking</a> (Windows)</li>
    <li><a href="https://support.apple.com/en-us/HT210539">Voice Control</a> (macOS, vanaf Catalina)</li>
  </ul>
  </section>

  <section>
    <p>Karolijn</p>
    <blockquote>"De applicatie op mijn werk voor tijdregistratie bevat veel knoppen met een icoon zonder tekst. Ik kan ze niet met een spraakcommando activeren. Tijdrovend want daardoor moet ik telkens het muisraster bovenhalen."</blockquote>
  </section>

  <section>
    <img src="https://images.anysurfer.be/gijs/Vasilis_vasilis__Twitter_2019-03-20_15-06-43.png" alt="oude twitter UI met icons zonder label" />
  </section>

  <section>
    <img src="https://images.anysurfer.be/gijs/twitter-new.jpg" alt="nieuwe twitter UI met labels bij de icons" />
  </section>

  <section>
    <ul>
      <li><a href="https://axesslab.com/icons-ruining-interfaces">How icons are ruining interfaces</a></li>
      <li><a href="https://thomasbyttebier.be/blog/the-best-icon-is-a-text-label">The best icon is a text label</a></li>
    </ul>
  </section>
