  <section>
  <h1 class="persona_title">Tom haakt af bij moeilijke teksten of complexe interfaces</h1>
   <img src="/tech/img/tommy.png" class="stretch" alt="Tom" />
  </section>

  <section>
    <p>Tommy</p>
    <blockquote>"Ik kreeg een brief van de overheid over mijn huis. Het gaat over patrimoniumdocumentatie en opmetingen en waarderingen. Wat moet ik hiermee doen?"</blockquote>
  </section>  

  <section>
  <h2>Taalniveaus</h2>
  <p>A basisgebruiker</p>
  <ul>
  <li>A1 een naam lezen, een paar woorden herkennen</li>
  <li>A2 korte zinnen, veel voorkomende woorden</li>
  </ul>
  </section>

  <section>
  <h2>Taalniveaus</h2>
  <p>B onafhankelijke gebruiker</p>
  <ul>
  <li>B1 dagdagelijkse communicatie</li>
  <li>B2 krant Metro</li>
  </ul>
  </section>

  <section>
  <h2>Taalniveaus</h2>
  <p>C vaardige gebruiker</p>
  <ul>
  <li>C1 weekblad Knack</li>
  <li>C2 proefschrift universiteit nanotechnologie</li>
  </ul>
  </section>

  <section>
  <img class="stretch" src="http://images.anysurfer.be/s5/taalniveau.png" alt="grafiek taalniveaus 40% nl is b1, 75% overheidsteksten is c1" />
  </section>

  <section>
  <h2>Eén op zeven Vlamingen is laaggeletterd</h2>
  <p>Zij hebben problemen met teksten lezen op papier en op websites.</p>

  <p class="small">Bron: <a href="http://wablieft.be/wablieft/over-wablieft/waarom-is-duidelijke-taal-belangrijk-">Wablieft</a></p>
  </section>

  <section>
  <h2>Eén op vijf Vlamingen heeft moeilijkheden om teksten te lezen.</h2>

  </section>

  <section>
  <h2>Eén op vier Vlamingen haakt af als lezen iets meer moeite kost.</h2>

  </section>

  <section>
  <blockquote>Ingevolge uw prijsaanvraag, waarvoor wij U ten zeerste danken, zijn wij zo vrij hierbij offerte te laten geworden voor sanitaire en/of centrale verwarmingsmaterialen aan onze algemene verkoopsvoorwaarden en aan de hieronder vermelde bijzondere voorwaarden.</blockquote>
  </section>

  <section>
  <ul>
  <li>Vermijd stadhuistaal</li>
  <li>Schrijf korte zinnen</li>
  <li>Schrap overbodige informatie</li>
  </ul>
  </section>

  <section>
  <blockquote>Wij danken u voor uw prijsaanvraag. Dit is onze offerte voor sanitair en/of verwarming. Hieronder volgen enkele bijzonder voorwaarden. Onze algemene verkoopsvoorwaarden vindt u ?.</blockquote>
  </section>

  <section>
  <blockquote>Dit formulier moet door de invuller ervan voor 1 mei worden teruggestuurd naar de personeelsdienst.</blockquote>
  </section>

  <section>
  <ul>
  <li>Schrap overbodige info</li>
  <li>Gebruik actieve zinnen</li>
  </ul>
  </section>

  <section>
  <blockquote>Stuur dit formulier vóór 1 mei terug naar de personeelsdienst.</blockquote>
  </section>

  <section>
    <p>Iedereen leest graag <a href="http://www.anysurfer.be/nl/in-de-praktijk/nog-toegankelijker/schrijf-klare-taal">duidelijke taal</a>.</p>
  </section>

   
  <section>
    <h2>Don't make me think.</h2>

    <p class="">Cognitive load en mentale energie</p>

    <aside class="notes">
    <p>Good design helps the user understand the interface.</p>
    <p>Don't remove visual affordances for design purposes.</p>
    <p>Voorpelbaar, vertrouwd, stabiel, standaarden</p>
    
    <p>Doe de mama-test.</p>
    <p>Digitale kloof is zwaar onderschat</p>
    <p>IKEA family card koppel</p>
    
    <p>Ik irriteer me aan user interface die ik moet leren voor ik ze kan gebruiken</p>
    <p>Gebruiker verkiest een duidelijk design boven een mooi design?</p>

    <p>moe, lange dag gehad op het werk, onder medicatie, suf, onder invloed<p>
    <p>VDK online, lange codes overtypen, VDK mobiel 1 pincode</p>
    <p>Argenta, overschrijvingsformulier scannen</p>
    <p>Klimaatzaak: vroeger scan van formulier op de post doen, nu webform + sms code</p>
    <p>toptaken van uw diensten, kan het makkelijker?</p>
    <p>voorbeelden van complexe interfaces</p>
    </aside>
  </section> 

<!--
  <section>
    <h2>Voorspelbaar, vertrouwd, stabiel</h2>
    <p>Voorbeeld zoeken</p>
  </section>
-->

  <section>
    <p>VDK online versus Argenta mobiele app</p>
    <img src="https://images.anysurfer.be/gijs/20191104-banking.png" alt="VDK bankieren op desktop versus Argenta app op mobiel" />
  </section>