  <section>
   <h1 class="persona_title">Vera heeft ALS en gebruikt switch control</h1>
   <img src="https://images.anysurfer.be/gijs/vera.svg" class="stretch" alt="Vera" />
  </section>

  <section>
    <img src="https://images.anysurfer.be/gijs/Panel_2019-03-25_12-03-54.png" alt="switch control menu" />
  </section>

  <section>
  <img src="/tech/img/hawking2.jpg" alt="Stephen Hawking in zijn rolstoel" />
  </section>

  <section>
  <img src="/tech/img/hawking.jpg" alt="detail van Stephen Hawking met bril waaraan infrarood sensor is vastgemaakt die beweging van zijn wang detecteert" />
  </section>

  <section>
  <img src="https://images.anysurfer.be/gijs/ken-delissen.png" alt="Ken Delissen in zijn rolstoel" />
  </section>

  <!--
  <section>
   <a href="http://slides.anysurfer.be/tech/img/puffsip.mp4">
  <img src="http://images.anysurfer.be/gijs/iphone_redux_fc__1__610.mp4_2017-09-27_09-26-38.png" alt="puf en sip schakelaars" /></a>
  </section>
    -->
  
  <section>
    <p>Vera</p>
    <blockquote>"Ik heb net een kwartier besteed aan het contactformulier van mijn bank om een nieuwe bankkaart aan te vragen. Wanneer ik wil verzenden krijg ik de melding dat ik niet meer ben ingelogd. Ik moet opnieuw inloggen en herbeginnen."</blockquote>
  </section>

  <section>
    <p>Alles duurt langer.</p>
    <p>Geef de gebruiker voldoende tijd om een taak uit te voeren.</p>
  </section>