<!doctype html>
<html lang="nl">
<head>
<meta charset="utf-8">
<title>Toegankelijke communicatie</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="css/reveal.css">
<link rel="stylesheet" href="css/theme/anysurfer.css" id="theme">
<!-- For syntax highlighting -->
<link rel="stylesheet" href="css/reveal.css">
<link rel="stylesheet" href="css/theme/anysurfer.css">
<link rel="stylesheet" href="css/theme/simple.css" id="theme">
<link rel="stylesheet" href="css/fullscreen-img.css">
<!-- For syntax highlighting -->
<link rel="stylesheet" href="lib/css/zenburn.css">
<!-- If the query includes 'print-pdf', use the PDF print sheet -->
<script>
document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
</script>
<style type="text/css">
   .reveal pre {
    width: 100%;
   }
   .reveal pre>code {
    font-size: 140%;
    padding: 1em;
    line-height: 125%;

   }

   pre .css .pseudo {
    color: #F2E7D6;
   }
   
   
   
   .reveal pre .value,  pre .css .rules .value{
    color: #FFA0A0;
   }
   
    </style>

<!--[if lt IE 9]>
<script src="lib/js/html5shiv.js"></script>
<![endif]-->
</head>

<body>
<div class="reveal">
<!-- Any section element inside of this container is displayed as a slide -->
<div class="slides">
<!-- bediening --> 
<section>
<h2>Slides bedienen</h2>
<ul>
<li>Druk escape voor een overzicht van alle slides</li>
<li>Gebruik de pijltjestoetsen om horizontaal of verticaal tussen de slides te navigeren.</li>
<li>Of gebruik de knoppen rechtsonder.</li>
</ul>
</section>
<section>
<section>
<h1>Toegankelijke communicatie</h1>
<p>Sophie Schuermans, Bart Simons</p>
</section>

<section>
<img src="https://images.anysurfer.be/anysurfer/logo_AS_square.svg" class="stretch" alt="logo anysurfer" />
</section>
</section>
<section>
<section>
<h1>Toegankelijkheid</h1>
<p>Bereikbaar, bedienbaar en begrijpbaar voor iedereen</p>
</section>
<section>
<h2>Iedereen is verschillend</h2>
<ul>
<li>Communiceer op meerdere manieren</li>
<li>In duidelijke taal/talen</li>
<li>Inclusief en soms iets extra</li>
</ul>
</section>
<section>
<h2>Visueel</h2>
<ul>
<li>Blind</li>
<li>Slechtziend</li>
<li>Kleurenblind</li>
<li>Op leeftijd</li>
<li>Afgeleid door GSM</li>
</ul>
</section>
<section>
<h2>Auditief</h2>
<ul>
<li>Doof</li>
<li>Slechthorend</li>
<li>Lawaaierige omgeving</li>
<li>Stille omgeving</li>
</ul>
</section>
<section>
<h2>Motorisch</h2>
<ul>
<li>Zittend perspectief</li>
<li>Moeite met bepaalde handelingen</li>
<li>Handen vol boodschappen</li>
</ul>
</section>
<section>
<h2>Cognitief</h2>
<ul>
<li>Ontmoedigd door lange zinnen</li>
<li>Niet iedereen begrijpt moeilijke/anderstalige woorden</li>
<li>Gebruik pictogrammen en illustraties</li>
<li>Voldoende witruimte</li>
</ul>
</section>

<section>
<h2>Informatie is overal</h2>
<ul>
<li>Brief, magazine, folder</li>
<li>Straatnaambord, huisnummer, bewegwijzering, signalisatie</li>
<li>Genummerde zitplaats</li>
<li>Website, app, sociale media</li>
<li>E-mail, nieuwsbrief</li>
<li>Digitaal document: Word, PDF ...</li>
<li>Formulier</li>
</ul>
</section>


<section>
<h2>Ontwerp voor zoveel mogelijk gebruikers</h2>
<ul>
<li>Hoog contrast, overzichtelijke schikking</li>
<li>Klare taal</li>
<li>Niet te veel en niet te weinig info</li>
</ul>
</section>
 
<section>
<h2>Wat kan je extra doen?</h2>
<ul>
<li>Informatie in braille of grootdruk (vb. afvalkalender)</li>
<li>Tolk Vlaamse gebarentaal</li>
<li>Audiodescriptie (vb. blindentribune)</li>
<li>Gesproken informatie (vb. luisterversie LVN, audiogids in museum)</li>
<li>Eenvoudig Nederlands + meertalig</li>
<li>Meeneembare zaalteksten</li>
</ul>
</section>
</section>
<section>
    <section>
        <h1>Belangrijke thema's</h1>
        <ul>
            <li>Leesbaarheid</li>
            <li>Structuur</li>
            <li>Afbeeldingen</li>
            <li>Multimedia</li>
            <li>Links</li>
            <li>Begrijpelijke taal</li>
        </ul>
    </section>
</section>
<section>
<section>
    <h1>Leesbaarheid</h1>
</section>
<section>
    <ul>
        <li>Lettertype</li>
        <li>Uitlijnen</li>
        <li>Tekstgrootte</li>
        <li>Contrast</li>
        <li>Gebruik van kleur </li>
        <li></li>
    </ul>
</section>

<section>
    <h2>Lettertypes</h2>
</section>
<section>
    <h2>Impact</h2>
    <p>Het lettertype kan een grote impact hebben voor:</p>
    <ul>
      <li>Leerstoornissen</li>
      <li>Slechtzienheid</li>
      <li>Lager leesniveau</li>
    </ul>
</section>
<section>
    <h2>Algemeen advies</h2>
    <ul>
      <li>Eenvoudige, gekende, gemakkelijk ontleedbare lettertypes </li>
      <li>Beperk aantal lettertypes</li>
      <li>Niet te klein</li>
      <li>Beperk cursieve tekst</li>
      <li>Beperk tekst in hoofdletters</li>
    </ul>
    <p>Artikel: <a href="https://webaim.org/techniques/fonts/">WebAim: Typefaces and Fonts</a>
            </p>
</section>

<section>
    <h2>3 voorbeelden</h2>
      <img class="stretch" src="http://images.anysurfer.be/slides/images/voorbeelden_fonts.jpg" alt="3 blokjes tekst in verschillende fonts :  blokletters, Arial, cursief (fairwater script)" >
</section>

<section>
    <h2>Volg eigen huisstijl</h2>
    <ul>
        <li>Stad Leuven gebruikt Strawford lettertype</li>
        <li>Licht en Liefde gebruikt Luciole</li>
        <li>Verdana is ook goed leebaar</li>
    </ul>
</section>

 
<section >
    <h2>Uitlijnen</h2>
    <img class="stretch" src="http://images.anysurfer.be/slides/images/uitlijnen_soorten.png" alt="3 blokjes tekst : uitgevuld, links uitgelijnd, gecentreerd" style="width: 1000px; height: 356.495px;">
    <p>Links uitlijnen</p>
    <aside class="notes">
    <ul>
        <li>Bij voorkeur links uitlijnen: Dit maakt het makkelijker om de tekstregel visueel te volgen, vooral voor mensen met dyslexie of een visuele beperking.</li>
        <li>Justify/uitgelijnde tekst: Uitgevulde tekst kan leiden tot ongelijke spatiëring tussen woorden, wat de leesbaarheid vermindert.</li>          
    </ul>
    </aside>
</section>

<section>
    <h2>Contrast</h2>
    <ul>
        <li>Zo hoog mogelijk</li>
        <li>Zwart op wit soms niet ideaal, beter donkergrijs op gebroken wit</li>
        <li>Let op met drukke achtergrond of tekst over een foto</li>
        <li>Bij gedrukte documenten : mat papier vermijd reflectie</li>
    </ul>
</section>
<section>
    <h2>Minimumwaarden voor kleurcontrast</h2>
    <ul>
        <li>Tekst kleiner dan 18pt.: 4,5:1</li>
        <li>Tekst groter dan 18pt.: 3:1</li>
    </ul>
</section>

<section>
    <h2>Kleurcontrast meten</h2>
    <ul>
      <li><a href="https://www.tpgi.com/color-contrast-checker/">Colour Contrast Analyzer (software)</a></li>
      <li><a href="https://webaim.org/resources/contrastchecker/">WebAim Contast Checker (online)</a></li>
    </ul>
    <p>Ook ingebouwde check in Office automatische toegankelijkheidscontrole</p>
</section>
<section>
    <h2>Tekst grootte : niet te klein</h2>
    <p>Geen vaste regel, denk aan het medium </p>
    <ul>
        <li>Gebruiker kan webpagina of PDF vergoten</li>
        <li>Gedrukt document is moeilijker te vergroten</li>
        <li>Story wordt bekeken op kleine smartphone</li>
        <li>Powerpoint wordt geprojecteerd in grote zaal </li>
        <li>Affiche moet misschien van ver gelezen worden </li>
    </ul>
    <p><a href="https://legibility.info/font-size-calculator">Font size calculator</a></p>
</section>

<section>
    <h1>Kleurgebruik</h1>
    <p>Gebruik niet enkel kleur om informatie over te brengen</p>
</section>
<section>
    <p>Info enkel beschikbaar via kleur</p>
    <p>
        <a href="https://www.autoveiligheid.be/autokeuring/keuringsstations">
         <img alt="Druktebarometer van de keuringsdiensten in Vlaanderen (ontoegankelijk, rood, oranje, groen)" src="https://images.anysurfer.be/inge/lesmateriaal/druktebarometer.png" height="60%" />
        </a>
    </p>
</section>
<section>
    <p>Info enkel beschikbaar via kleur</p>
    <p>
      <img alt="Druktebarometer van de keuringsdiensten in Vlaanderen (ontoegankelijk, in grijswaarden)" src="https://images.anysurfer.be/inge/lesmateriaal/druktebarometer_zw.png" />
    </p>
</section>
<section>
    <p>Info beschikbaar via kleur + iconen</p>
    <p>
      <a href="https://www.efteling.com/nl/park/openingstijden">
        <img alt="druktebarometer van de Efteling (toegankelijk met groen, geel, oranje en icoontje met 1, 2 of 3 mannekes)" src="https://images.anysurfer.be/inge/lesmateriaal/druktebarometer_ok.png" />
      </a>
    </p>
</section>
<section>
    <p>Info enkel beschikbaar via kleur</p>
    <p>
      <img alt="Grafiek aantal afgestudeerde studenten met legende niet gelinkt aan cijfers in grafiek" src="https://images.anysurfer.be/inge/lesmateriaal/grafie_nietok.png" />
    </p>
</section>
<section>
    <p>Info beschikbaar via kleur + tekst: OK</p>
    <p>
      <img alt="Taartdiagram met percentages via tekst in de legende" src="https://images.anysurfer.be/examples/color/Chiffres_bxl.png" />
    </p>
</section>
<section>
    <p>Info beschikbaar via kleur + tekst: OK</p>
    <p>
      <img alt="Item in de webwinkel is op voorraad waarbij de woorden 'op voorraad' in het groen geschreven zijn " src="https://images.anysurfer.be/inge/lesmateriaal/opvoorraad.png" />
    </p>
    <p>
      <img alt="Item in de webwinkel is op voorraad waarbij de woorden 'dit item is momenteel niet beschikbaar' in het rood geschreven zijn " src="https://images.anysurfer.be/inge/lesmateriaal/nietbeschikbaar.png" />
  </p>
</section>
</section>
    
<section>
<section>
<h2>Digitaal</h2>
<ul>
<li>Computer, tablet, smartphone gepersonaliseerd aan behoeften</li>
<li>Informatie raadplegen waar en hoe men wil</li>
<li>Maar wel aandacht voor toegankelijkheid</li>
</ul>
</section>
</section>
<section>
<section>
<h2>Multimedia</h2>
<ul>
<li>Ondertitels</li>
<li>Eventueel tekstversie</li>
<li>Eventueel audiodescriptie</li>
</ul>
</section>
</section>
<section>
<section>
<h2>Afbeeldingen</h2>
<ul>
<li>Markeer als decoratief</li>
<li>Of voeg alternatieve tekst toe.</li>
<li>In e-mail, handtekening, nieuwsbrief, op website, op sociale media, in Word- en PDF-document enz.</li>
</ul>
</section>

<section>
<h2>Decoratief</h2>
<ul>
<li>Afbeelding voegt geen extra info toe</li>
<li>Is bedoeld om het visueel aantrekkelijk te maken</li>
<li>Of om iets uit de tekst te illustreren</li>
</ul>
</section>
<section>
<h2>Voorbeelden</h2>
<ul>
<li>Teaser illustratie bij nieuwsbericht</li>
<li>Foto van voorgevel van gebouw voor de herkenbaarheid</li>
<li>De tekst "opgelet" met daarbij ook een waarschuwingssymbool</li>
</ul>
</section>
<section>
<h2>Informatieve afbeelding</h2>
<ul>
<li>Klikbare logo's van sociale media</li>
<li>Icoontje van vergrotglas om te zoeken, vuilbak om iets te verwijderen of potlood om iets te bewerken</li>
</ul>
</section>
<section>
<h2>Vermijd afbeelding van tekst</h2>
<ul>
<li>Publiceer geen info in de vorm van een screenshot of foto</li>
<li>Een affiche of opgemaakte uitnodiging is als beeldbestand niet toegankelijk</li>
<li>Voorzie een alternatief voor kaarten. Voorbeeld <a href="https://leuven.be/locaties-glasbakken">glascontainers</a></li>
<li>Bij info over omleiding: plannetje is essentieel maar schrijf het ook uit in tekst</li>
</ul>
</section>
</section>

<section>
<section>
<h2>Structuur</h2>
<ul>
<li>Koppen en lijsten niet enkel visueel</li>
<li>Belangrijk voor structuur</li>
<li>Kop- en lijstniveaus</li>
<li>In Word, op websites, in nieuwsbrief, in InDesign enz.</li>
</ul>
</section>
    

<section>
<h2>Beperk afleiding</h2>
<ul>
<li><a href="https://www.april-beauty.be/fr/">Bewegend beeld</a></li>
<li><a href="https://www.novemberfive.co/">Achtergrond video</a></li>
<li><a href="https://www.adn.be/fr/">Animatie</a></li>
<li>Onverwachte pop-up's: <a href="https://www.clearxperts.com/">ClearXperts Home</a>, <a href="https://www.reddit.com/r/funny/comments/9q22c2/every_website_in_2018/">Reddit websites 2018</a></li>
</ul>


    <aside class="notes">
        <p>Elke beweging (diavoorstelling, video, animatie) die niet gestopt kan worden, is erg storend voor Nina. Je moet een pauzeknop toevoegen of de animatie automatisch na een paar seconden laten stoppen. Diavoorstellingen met content die niet gestopt kunnen worden, vormen ook een probleem, omdat Nina geen tijd heeft om de content af te lezen voordat de volgende afbeelding verschijnt.</p>
    </aside>
</section>

<section>
    <h2>Oplossingen</h2>
    <p>Laat de controle over aan de gebruiker</p>
    <ul>
        <li>Voorzie een manier om beweging te stoppen (<a href="https://auvio.rtbf.be/">vb, pauzeknop</a>)</li>
        <li>Stop animatie's zoals GIFS na enkele seconden (5sec. maximum)</li>
        <li>Speel geluid niet automatisch af</li>
        <li>Beperk de afleidingen</li>
    </ul>
</section>
</section>
<section>

<section>
<h2>Links</h2>
<ul>
<li>Zorg voor betekenisvolle tekst</li>
<li>Vermijd "klik hier", "deze pagina", "lees meer" enz.</li>
<li>Op papier: uitschrijven</li>
<li>Eventueel met QR-code</li>
</ul>
</section>

<section>
<h2>QR-code</h2>
<ul>
<li>Vaste plaats: vb. rechter bovenhoek van alle infopanelen in het museum</li>
<li>Vermeld in tekst dat er een QR-code beschikbaar is</li>
<li>Voelbare rand</li>
<li>Niet via e-mail versturen of er dan ook een gewone link bij zetten</li>
</ul>
</section>
</section>

<section>
<section>
<h2>Waar kan men terecht?</h2>
<ul>
<li>Vermeld zo veel mogelijk een telefoonnummer en e-mailadres</li>
<li>Sta open voor communicatie via SMS of whatsapp</li>
<li>Vermeld niet enkel de dichtstbijzijnde parking; geef ook info over bereikbaarhei dmet openbaar vervoer</li>
</ul>
</section>

</section>
<section>
<section>
<h2>Communiceer over toegankelijkheid</h2>
<ul>
<li>Toegankelijkheidsverklaring op website</li>
<li>Als je inspanningen doet voor toegankelijkheid: communiceer erover</li>
<li>Geef objectieve info: drempel aan toegangsdeur van 10 cm, wel/geen aangepast toilet beschikbaar, de lezing vindt plaats op de eerste verdieping. Er is geen lift.</li>
</ul>
</section>
<section>
<h2>Woordgebruik</h2>
<ul>
<li>Toets je woordgebruik af met de doelgroep.</li>
<li>Vermijd woorden als rolstoelpatiënt, doventolk, invalidenparkeerplaats, gehandicaptentoilet enz.</li>
</ul>
</section>

</section>

<!-- contact -->
<section class="insertion">nl/contact/algemeen</section>


</div>
	
</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>
<script src="https://cdn.anysurfer.be/js/jquery.js"></script>
<script src="js/custom.js"></script>
<script>

// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
controls: true,
progress: true,
history: true,
center: true,

theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
transition: 'default', // default/cube/page/concave/zoom/linear/fade/none

// Parallax scrolling
// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
// parallaxBackgroundSize: '2100px 900px',

// Optional libraries used to extend on reveal.js
dependencies: [
{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
]
});

</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="insertion_modules.js"></script>

</body>
</html>
