<!doctype html>
<html lang="nl">
<head>
<meta charset="utf-8">
<title>Gastcollege digitale toegankelijkheid - AnySurfer</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="css/reveal.css">
<link rel="stylesheet" href="css/theme/anysurfer.css" id="theme">
<!-- For syntax highlighting -->
<link rel="stylesheet" href="css/reveal.css">
<link rel="stylesheet" href="css/theme/anysurfer.css">
<link rel="stylesheet" href="css/theme/simple.css" id="theme">
<link rel="stylesheet" href="css/fullscreen-img.css">
<!-- For syntax highlighting -->
<link rel="stylesheet" href="lib/css/zenburn.css">
<!-- If the query includes 'print-pdf', use the PDF print sheet -->
<script>
document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
</script>
<style type="text/css">
   .reveal pre {
    width: 100%;
   }
   .reveal pre>code {
    font-size: 140%;
    padding: 1em;
    line-height: 125%;

   }

   pre .css .pseudo {
    color: #F2E7D6;
   }
   
   
   
   .reveal pre .value,  pre .css .rules .value{
    color: #FFA0A0;
   }
   
    </style>

<!--[if lt IE 9]>
<script src="lib/js/html5shiv.js"></script>
<![endif]-->
</head>

<body>
<div class="reveal">
<!-- Any section element inside of this container is displayed as a slide -->
<div class="slides">

			
				
<!-- bediening --> 
<section>
<h2>Slides bedienen</h2>
<ul>
<li>Druk escape voor een overzicht van alle slides</li>
<li>Gebruik de pijltjestoetsen om horizontaal of verticaal tussen de slides te navigeren.</li>
<li>Of gebruik de knoppen rechtsonder.</li>
</ul>
</section>

<section>
<section>
<img src="http://images.anysurfer.be/anysurfer/logo_AS_square.svg" class="stretch" alt="logo anysurfer" />
</section>
<!--
<section>
<h1>Configuratie Zoom</h1>
<ul>
<li>Alle microfoons muted</li>
<li>Je kan reageren via de chat</li>
</ul>
</section>
-->
<section>
<h1>Digitale toegankelijkheid</h1>
</section>
<section>
<p>Websites en apps zijn bruikbaar voor iedereen, ook als:</p>
<ul>
<li>Je een handicap hebt</p>
<li>Je wat ouder bent</li>
<li>Je beperkt bent door omstandigheden</li>
</ul>.
</section>

<!-- cijfers handicap, voor wie? -->
<section>
<h2>Handicap</h2>
<img src="img/who.png" alt="World Health Organisation" />
<blockquote>About 15% of the world's population lives with some form of disability.</blockquote>
<a href="https://www.youtube.com/watch?v=Ng6mT_EJy2Q">#WeThe15</a>
</section>

<!--    
<section>
  <img src="http://images.anysurfer.be/disability-cloud.png" alt="word cloud disabilities" />
  </section>
-->    

<section>
  <h2>Beperkingen</h2>
  <ul>
  <li>Visueel</li>
  <li>Auditief</li>
  <li>Motorisch</li>
  <li>Cognitief</li>
  </ul>
  </section>
   
  <section>
  <h2>Ouderdom</h2>
  <p>19% van de Belgische bevolking  is ouder dan 65</p>
  <p class="small"><a href="https://statbel.fgov.be/fr/themes/population/structure-de-la-population#panel-13">Bron: Statbel 2019</a></p>
  </section>  

  <section>
<h2>Omstandigheden</h2>
  <img src="https://images.anysurfer.be/gijs/win-a11y-touch.png" alt="touch permanent one arm, temporary arm injury, situational holding baby" />
  <p class="small"><a href="https://www.microsoft.com/design/inclusive/">Bron: Microsoft Inclusive Design</a></p>
  </section> 

  <section>
    <img class="stretch" src="https://images.anysurfer.be/gijs/iphone-motor-mount.png" alt="gps houder op het stuur van een motor" />
  </section>

  <section>
    <img src="https://images.anysurfer.be/gijs/gps-motor.png" alt="google maps en apple maps" />
  </section>

<section>
<h2>Websites en apps</h2>
<ul>
<li>Ondanks die beperkingen willen mensen meedoen in de digitale wereld.</li>
<li>Vaak zelfs als 'early adopters'.</li>
<li>Met de juiste toevoegingen kunnen websites en apps toegankelijk worden.</li>
</ul>
</section>
</section>        


<!-- PERSONAS -->    
<section>
<h1>Personen met een beperking</h1>
<ul>
<li>Welke hulpmiddelen bestaan er?</li>
<li>Welke obstakels komen ze tegen?</li>
<li>Hoe kunnen <strong>jullie</strong> die voorkomen?</li>
</ul>
</section>    


<!-- 
--------------------------------------------------
Nina ADHD
--------------------------------------------------
-->
<section>
  <section>
    <p>Nina heeft ADHD</p>
    <img src="/tech/img/nina.png" class="stretch" alt="Nina" />
  </section>
  <section>
    <p>Nina</p>
    <blockquote>"Ik kan me moeilijk focussen. Ik ben overgevoelig voor zintuiglijke prikkels en heb geheugenproblemen."</blockquote>
  </section>

  <aside class="notes">attention deficit hyperactivity disorder</aside>
 
  <section>
    <h2>Afleiders</h2>
    <ul>
      <li><a href="https://www.wep.be/nl">Beweging</a></li>
      <li><a href="https://www.autimatic.be/nl/">Overprikkeling</a></li>
      <li><a href="https://ab-inbev.be/">Pop-ups</a></li>
      <!--<li><a href="http://deathtobullshit.com">deathtobullshit.com</a> by Brad Frost</li>-->
    </ul>
  </section>
  <section>
    <h3>Wat kan jij doen?</h3>
  	<ul>
      <li>Geef de controle aan de gebruiker</li>
      <li>Voeg een pauzeknop toe, geen autoplay</li>
  		<li>Beperk afleidingen en onverwachts gedrag (Pop-ups)</li>
  	</ul>

  </section>
</section>

<!-- 
--------------------------------------------------
Jerry kleurenblind
--------------------------------------------------
-->

<section>
  <section>
  <p>Jerry is kleurenblind</p>
  <img src="/tech/img/jerry.png" class="stretch" alt="Jerry, kleurenblind" />
  </section>

  <section>
  <h2>8% tot 10% mannen is "kleurenblind"</h2>
  <ul>
    <li>Deuteran (groen - komt het meest voor)
    <li>Protan (rood - zeldzaam)</li>
    <li>Tritan (blauw - zeer zeldzaam)</li>
  </ul>
  </section>


  <section>
  <img class="stretch" src="https://images.anysurfer.be/gijs/74.jpg" alt="nummer 74 onzichtbaar voor kleurenblinden" />
  </section>

  <section>
  <img class="stretch" src="https://images.anysurfer.be/gijs/74-after.jpg" alt="zelfde afbeelding met cijfer 74 zonder achtergrondkleur" />
  </section>

  <section>
  <img class="stretch" src="https://images.anysurfer.be/gijs/21.jpg" alt="zelfde afbeelding met cijfer 21 zeer moeilijk te herkennen" />
  </section>  

  <section>
    <p>Jerry</p>
    <blockquote>"Ik kon als kind niet meespelen met UNO want ik zag niet of mijn kaarten rood of groen waren."</blockquote>
  </section>

  <!--<section>
    <a href="http://wearecolorblind.com/example/trivial-pursuit/"><img src="http://slides.anysurfer.be/tech/img/trivialpursuit.jpg" alt="trivial pursuit spel blokje met verschillende kleuren" /></a>
  </section>-->

  <section>
    <p><img src="https://images.anysurfer.be/gijs/uno-original.jpg" alt="uno origineel" /></p>
  </section>

  <section>
    <p><img src="https://images.anysurfer.be/gijs/uno-colorblind.jpg" alt="uno met symbolen voor kleurenblinden" /></p>
  </section>

  <section>
    <h3>Is druk in de bibliotheek?</h3>
    <p>&nbsp;</p>
    <img src="https://images.anysurfer.be/gijs/spitsuren_nok.png" alt="niet oké drukte winkel tabel met groen en rode cellen" />
    </section>
    
    <section>
    <img src="https://images.anysurfer.be/gijs/spitsuren_ok.png" alt="oké drukte winkel tabel met 1, 2 of drie mannetjes in een cel" />
    </section>            

  <section>
  <img alt="Two Dots: spel om bolletjes te verbinden. Links enkel kleur. Rechts ook vorm" src="http://images.anysurfer.be/gijs/twodots.png">
  <aside class="notes">Two Dots, a game focused around making connections of dots of the same color also has a color-blind mode.</aside>
  </section>

  <!--<section>
  <img alt="Trello: links gekleurde labels. Rechts: ook ander patroon" src="http://images.anysurfer.be/gijs/textuur.png">
  <aside class="notes">Trello, a web-based application that allows users to organize tasks, has a color blind mode that adds texture to labels.</aside>
  </section>-->

  <section>
  	<h2>Wat kan jij doen?</h2>
    <p>&nbsp;</p>
    <ul>
      <li>Gebruik niet enkel kleur of informatie over te brengen</li>
      <li>Voeg tekst of icoontjes toe.</li>
    </ul>

  </section>
</section>

<!-- 
--------------------------------------------------
Karolijn RSI
--------------------------------------------------
-->   
<section>
  <section>
  <p>Karolijn heeft last van RSI en gebruikt spraakcommando's</p>
  <img src="/tech/img/karolijn.png" class="stretch" alt="Karolijn" />
  </section>

  <section>
  <h2>Spraakcommando's</h2>
  <ul>
    <li>Wanneer iemand het moeilijk heeft om muis en toetsenbord te gebruiken</li>
    <li><a href="https://www.youtube.com/watch?v=zDMKK5WtDog">Dragon Professional</a></li>
    <!--<li><a href="https://support.apple.com/en-us/HT210539">Voice Control</a> (macOS, vanaf Catalina)</li>-->
  </ul>
  </section>

  <section>
    <p>Karolijn</p>
    <blockquote>"Wat is de naam van dat icoontje? Ik kan het niet met een spraakcommando activeren. Tijdrovend, want daardoor moet ik telkens het muisraster bovenhalen."</blockquote>
  </section>

  <section>
    <img src="https://images.anysurfer.be/icones/twitter_iconen.png" alt="oude twitter UI met icons zonder label" />
  </section>

  <section>
    <img src="https://images.anysurfer.be/icones/twitter_iconen_met_tekst.jpg" alt="nieuwe twitter UI met labels bij de icons" />
  </section>

  <section>
    <h2>Wat kan jij doen?</h2>
    <p>&nbsp;</p>
    <p>Voeg tekst toe aan iconen.</p>
  </section>
</section>

<section>

<section id="jim">
  <h1 class="persona_title">Jim heeft MS en gebruikt vooral het toetsenbord</h1>
  <img src="img/jim.png" class="stretch" alt="Jim" />
</section>



<section>
  <blockquote>"Ik heb vaak last van trillende handen en vind het moeilijk om op kleine knopjes te klikken. Ik gebruik liever het toetsenbord."</blockquote>
</section>


<section>
  <h2>Probeer het zelf</h2>
  <ul>
    <li><kbd>TAB</kbd>: naar volgend interactief element</li>
    <li><kbd>Shift</kbd> + <kbd>TAB</kbd>: naar vorig interactief element</li>
    <li><kbd>ENTER</kbd>: link of knop activeren </li>
    <li><kbd>Spatie</kbd>: checkbox of radioknop selecteren</li>
    <li>Pijltjes beneden en boven: selectie maken in een lijst</li>
  </ul>
<p class="small"><a href="http://example.com/">Voorbeeld</a></p>
</section>

<section>
  <h3>Spel: Hocus:focus</h3>
  <a href="https://focus.hteumeuleu.com/"><img src="https://images.anysurfer.be/inge/lesmateriaal/hocusfocus.png" alt="startpagina focus spel Hocus :Focus"></a>
</section>

<section>
  <h2>Voorbeeld 2 - uitklapmenus</h2>
  <p>Probeer het hoofdmenu uit te klappen zonder de muis te gebruiken. Bij welke van de twee sites lukt het wel? </p>
    <ul>
      <li><a href="https://www.tuinadvies.be/">Tuinadvies</a></li>
      <li><a href="https://developer.mozilla.org/en-US/">Mozilla Developer Network</a></li>
    </ul>
</section>
</section>
<!--
<section>
  <h2>Voorbeeld 3 - FAQ</h2>
  <p>Kan je de antwoorden van de vragen zichtbaar maken zonder muis ?</p>
    <ul>
      <li><a href="https://www.fintro.be/fr/Public/FAQ/FAQ-Banque-au-quotidien?axes4=prof">Fintro</a></li>
      <li><a href="https://www.keytradebank.be/fr/aide/faq">Keytrade</a></li>
    </ul>
</section>
-->          
          <section>
            <h2>Wat kan jij doen?</h2>
<ul>
<li>Focus altijd zichtbaar bij tabben</li>
<li>Alles wat met de muis kan, moet ook met toetsenbord werken. </li>
</ul>
          </section>

</section>
<!-- 
--------------------------------------------------
Kadisha cataract
--------------------------------------------------
-->

<section>
 <section>
  <h1 class="persona_title">Kadisha heeft cataract</h1>
   <img src="/tech/img/kadisha.svg" class="stretch" alt="Kadisha" />
  </section>

  <section>
  <a href="http://www.farmaline.be/apotheek/"><img src="/tech/img/farmaline.png" alt="website met cataract simulatie" /></a><p><a href="https://addons.mozilla.org/nl/firefox/addon/nocoffee/">Vision simulator</a></p>
  </section>

  <section>
    <p>Kadisha</p>
    <blockquote>"Ik wil online vitamines bestellen maar ik kan niet zien of het vitamine A, B of C is. Op de website staan de productdetails in kleine lichtgrijze tekst die ik bijna niet kan lezen."</blockquote>
  </section>  



  <!--<section>
   <img src="http://images.anysurfer.be/gijs/Image_2017-11-03_13-55-35.png" alt="lichtinval maakt scherm van gsm onleesbaar" />
  </section> -->

  <section>
    <h2>Slecht contrast</h2>
    <img src="https://images.anysurfer.be/gijs/20191127-contrast-emma-2.jpg" alt="lichtblauwe en grijze tekst">
  </section>  

  <section>
   <h2>Voldoende contrast voor tekst</h2>
   <ul>
    <li>Tekst kleiner dan 24px: <strong>minimum 4,5</strong></li>
    <li>Tekst groter dan 24px: <strong>minimum 3</strong></li>
  </ul>
  <p>
    <a href="https://developer.paciellogroup.com/resources/contrastanalyser/">Colour Contrast Analyser</a></br>
    <a href="https://webaim.org/resources/contrastchecker/">WebAIM Contrast Checker</a></p>
   <aside class="notes">The ratio between sizes in points and CSS pixels is 1pt = 1.333px, therefore 14pt and 18pt are equivalent to approximately 18.5px and 24px.</aside>
  </section> 
   
  <!--<section>
    <p>Chrome > View > Developer > Developer Tools > inspect</p>
    <img src="https://images.anysurfer.be/gijs/20191105-popup.jpg" alt="popup met contrastratio" />
    <p class="small"><a href="https://developer.mozilla.org/en-US/docs/Learn/Accessibility/CSS_and_JavaScript">example</a></p>
  </section> -->
  
  <section>
    <a href="http://www.paciellogroup.com/resources/contrastanalyser/"><img src="https://images.anysurfer.be/gijs/Colour_Contrast_Analyser_CCA_2019-03-20_15-44-37.png" /></a>
    </p>
  </section>

  <section>

    <p>Welke van de 4 blokken hebben voldoende contrast met witte tekst? </p>
    <img class="stretch" src="https://images.anysurfer.be/contrast/Brussel_contrast_nl.png" alt="4 rechthoeken van verschillende kleuren met namen van overheidsdiensten in het wit">
  </section>

  <section>
    
    <img class="stretch"  src="https://images.anysurfer.be/contrast/Brussel_contrast_nl_values.png" alt="4 rechthoeken van verschillende kleuren met namen van overheidsdiensten in het wit">
    <p>Niet OK : 1 (2,4) en 3 (2,8). OK : 2 (4,5) en 4 (4,6).</p>
  </section>

  <section>
    <h2>Vergroting en responsive design</h2>
  </section>

  <section>
    <img src="https://images.anysurfer.be/20191021-100zoom.jpg" alt="pagina op 100% zoom in chrome" />
  </section>
  
  <section>
    <img src="https://images.anysurfer.be/20191021-400zoom.jpg" alt="zelfde pagina op 400% zoom in chrome zonder horizontale scrollbalken" />
  </section>

  <section>
  <h3>Vergroting en reponsive design</h3>
  <ul>
    <li>Browser > zoom (ctrl+ of cmd+) > 200%</li>
    <li>Geen horizontaal scrollen dankzij reflow</li>
    <li>Controleren via developers tools (ctrl + shift + i)</li>
  </ul>
  </section>

    <section>
      <h2>Wat kan je doen voor Kadisha?</h2>
      <p>&nbsp;</p>
    <ul>
      <li>Voldoende contrast</li>
      <li>Website bruikbaar zonder horizontaal scrollen bij vergroting</li>
    </ul>
  </section>
</section> 

<!-- 
--------------------------------------------------
Vera ALS
--------------------------------------------------
-->  
  
<section>
  <section>
   <p>Vera heeft ALS en gebruikt switch control</p>
   <img src="https://images.anysurfer.be/gijs/vera.svg" class="stretch" alt="Vera" />

   <aside class="notes">Amyotrofe laterale sclerose, motorische zenuwcellen sterven af</aside>
  </section>

  <!--<section>
    <img src="https://images.anysurfer.be/gijs/Panel_2019-03-25_12-03-54.png" alt="switch control menu" />
  </section>-->

  <section>
  <img src="/tech/img/hawking2.jpg" alt="Stephen Hawking in zijn rolstoel" />
  </section>

  <section>
  <img src="/tech/img/hawking.jpg" alt="detail van Stephen Hawking met bril waaraan infrarood sensor is vastgemaakt die beweging van zijn wang detecteert" />
  </section>

  <section>
   <p>
        <a href="https://www.youtube.com/watch?v=ucU0vCr0rW8">
            <img src="http://images.anysurfer.be/AT/puffandsip.png" class="stretch" alt="demo switch control avec puff &amp; sip">
        </a>
    </p>
  </section>


  <!--<section>
  <img src="https://images.anysurfer.be/gijs/ken-delissen.png" alt="Ken Delissen in zijn rolstoel" />
  </section>-->

  <section>
    <p>Vera</p>
    <blockquote>"Ik heb net een kwartier besteed aan het contactformulier van mijn bank om een nieuwe bankkaart aan te vragen. Wanneer ik wil verzenden krijg ik de melding dat ik niet meer ben ingelogd. Ik moet opnieuw inloggen en herbeginnen."</blockquote>
  </section>

  <section>
    <p>Alles duurt langer.</p>
    <p>Geef de gebruiker voldoende tijd om een taak uit te voeren.</p>
  </section>

<section>
  <h2>Wat kan jij doen?</h2>
  <p>&nbsp;</p>
  <ul>
    <li>Geef gebruiker voldoende tijd</li>
    <li>Voeg de mogelijkheid toe om een sessie te verlengen</li>
  </ul>
</section>

</section>  


<!-- 
--------------------------------------------------
Tom taal
--------------------------------------------------
-->
<section>
  <section>
  <p>Tom haakt af bij moeilijke teksten of complexe interfaces</p>
   <img src="/tech/img/tommy.png" class="stretch" alt="Tom" />
  </section>

  <section>
    <p>Tom</p>
    <blockquote>"Ik kreeg een brief van de overheid over mijn huis. Het gaat over patrimoniumdocumentatie en opmetingen en waarderingen. Wat moet ik hiermee doen?"</blockquote>
  </section> 
<!--
  <section>
  <h2>Taalniveaus</h2>
  <p>A basisgebruiker</p>
  <ul>
  <li>A1 een naam lezen, een paar woorden herkennen</li>
  <li>A2 korte zinnen, veel voorkomende woorden</li>
  </ul>
  </section>

  <section>
  <h2>Taalniveaus</h2>
  <p>B onafhankelijke gebruiker</p>
  <ul>
  <li>B1 dagdagelijkse communicatie</li>
  <li>B2 krant Metro</li>
  </ul>
  </section>

  <section>
  <h2>Taalniveaus</h2>
  <p>C vaardige gebruiker</p>
  <ul>
  <li>C1 weekblad Knack</li>
  <li>C2 proefschrift universiteit nanotechnologie</li>
  </ul>
  </section>
-->
  <section>
  <img class="stretch" src="http://images.anysurfer.be/s5/taalniveau.png" alt="grafiek taalniveaus 40% nl is b1, 75% overheidsteksten is c1" />
  </section>

  <section>
  <h2>Eén op zeven Vlamingen is laaggeletterd</h2>
  <p>Zij hebben problemen met teksten lezen op papier en op websites.</p>

  <p class="small">Bron: <a href="http://wablieft.be/wablieft/over-wablieft/waarom-is-duidelijke-taal-belangrijk-">Wablieft</a></p>
  </section>
<!--
  <section>
  <h2>Eén op vijf Vlamingen heeft moeilijkheden om teksten te lezen.</h2>

  </section>

  <section>
  <h2>Eén op vier Vlamingen haakt af als lezen iets meer moeite kost.</h2>

  </section>
-->
  <section>
  <blockquote>Ingevolge uw prijsaanvraag, waarvoor wij U ten zeerste danken, zijn wij zo vrij hierbij offerte te laten geworden voor sanitaire en/of centrale verwarmingsmaterialen aan onze algemene verkoopsvoorwaarden en aan de hieronder vermelde bijzondere voorwaarden.</blockquote>
  </section>

  <section>
  <ul>
  <li>Vermijd stadhuistaal</li>
  <li>Schrijf korte zinnen</li>
  <li>Schrap overbodige informatie</li>
  </ul>
  </section>

  <section>
  <blockquote>Wij danken u voor uw prijsaanvraag. Dit is onze offerte voor sanitair en/of verwarming. Hieronder volgen enkele bijzonder voorwaarden. Onze algemene verkoopsvoorwaarden vindt u ...</blockquote>
  </section>

  <section>
  <blockquote>Dit formulier moet door de invuller ervan voor 1 januari worden teruggestuurd naar de personeelsdienst.</blockquote>
  </section>

  <section>
  <ul>
  <li>Schrap overbodige info</li>
  <li>Gebruik actieve zinnen</li>
  </ul>
  </section>

  <section>
  <blockquote>Stuur dit formulier vóór 1 januari terug naar de personeelsdienst.</blockquote>
  </section>

  <section>
<h2>Best practice</h2>
<p>Iedereen leest graag <a href="http://www.anysurfer.be/nl/in-de-praktijk/nog-toegankelijker/schrijf-klare-taal">duidelijke taal</a>.</p>
  </section>
<!--
  <section>
    <p>No user ever:</p>
    <blockquote>"Dit is echt veel te duidelijk geschreven."</blockquote>
  </section>
   
  <section>
    <h2>Don't make me think.</h2>

    <p class="">Cognitive load en mentale energie</p>

    <aside class="notes">
    <p>Good design helps the user understand the interface.</p>
    <p>Don't remove visual affordances for design purposes.</p>
    <p>Voorspelbaar, vertrouwd, stabiel, standaarden</p>
    
    <p>Doe de mama-test.</p>
    <p>Digitale kloof is zwaar onderschat</p>
    <p>IKEA family card koppel</p>
    
    <p>Ik irriteer me aan user interface die ik moet leren voor ik ze kan gebruiken</p>
    <p>Gebruiker verkiest een duidelijk design boven een mooi design?</p>

    <p>moe, lange dag gehad op het werk, onder medicatie, suf, onder invloed<p>
    <p>VDK online, lange codes overtypen, VDK mobiel 1 pincode</p>
    <p>Argenta, overschrijvingsformulier scannen</p>
    <p>Klimaatzaak: vroeger scan van formulier op de post doen, nu webform + sms code</p>
    <p>toptaken van uw diensten, kan het makkelijker?</p>
    <p>voorbeelden van complexe interfaces</p>
    </aside>
  </section> 


  <section>
    <h2>Voorspelbaar, vertrouwd, stabiel</h2>
    <p>Voorbeeld zoeken</p>
  </section>


  <section>
    <p>VDK online versus Argenta mobiele app</p>
    <img src="https://images.anysurfer.be/gijs/20191104-banking.png" alt="VDK bankieren op desktop versus Argenta app op mobiel" />
  </section>

  <section>
  	<h2>Advies</h2>
  	<ul>
  		<li>Gebruik klare taal</li>
  		<li>Verwijder onnodige stappen en velden</li>

  	</ul>
  </section>
-->
</section>
  
<!-- Cecile doof -->  
<section>
<section>
<p>Cecile is doof</p>
<img src="https://images.anysurfer.be/gijs/cecile.svg" class="stretch" alt="cecile" />
</section>

<section>
<p>Cecile</p>
<blockquote>"Ik heb me ingeschreven voor een online cursus webdesign met Figma. Elke hoofdstuk van de cursus heeft oefeningen die in een video worden uitgelegd. Ik snap de oefeningen niet omdat de video's niet zijn ondertiteld. Zou ik mijn inschrijvingsgeld kunnen terugvragen?"</blockquote>
</section>

<section>
<h2>Vertalend ondertitelen</h2>
<img src="http://images.anysurfer.be/gijs/20191105-poetin.jpg" alt="Poetin met Nederlandse ondertitels over op nos.nl" />
</section>

<section>
<h2>Captions voor doven en slechthorenden</h2>
<a href="https://www.youtube.com/watch?v=_FospYNbBrI"><img src="http://images.anysurfer.be/gijs/klasseTV.png" alt="YouTube TV klasse met captioning"></a>
</section>  

<section>
<h2>Transcript voor podcasts</h2>
<a href="https://docs.google.com/document/d/e/2PACX-1vTQPt6NqQalU6KHQI2MBoigINKV8isct_jCPe7FFrqHkO0hJAvA1y67ApFbt0GQG9-qH9aOyjplE_E4/pub" target="_blank"><img src="https://images.anysurfer.be/lora/1.5__Here_There_Be_Gerblins_-_Part_One_(Super_Cut)_-_The_Adventure_Zone_transcript_-_TAZscripts_-_Mozilla_Firefox_2019-04-02_10.09.49.png" alt="Podcast transcript: The Adventure Zone aflevering 4"></a>
</section>

<section>
<ul>
<li>Captioning voor video</li>
<li>Transcript voor audio</li>
</ul>
</section>   

<section>
<h2>Waarom gebruik jij ondertiteling?</h2>
<p><a href="https://sebastiangreger.net/2019/02/ux-closed-captions-for-everybody/">Bron: close captions for everybody</a></p>
</section>

<section>
<blockquote>Nederlands is mijn tweede taal. Met ondertitels kan ik makkelijker volgen. En ik leer er van bij.</blockquote>
</section>
  
<section>
<blockquote>Anders versta ik mensen niet die mompelen of in dialect spreken.</blockquote>
<p><a href="https://www.youtube.com/watch?v=Yt-aFyw0Tpw">In de Gloria: "Gerrit Callewaert over ondertiteling".</a></p>
</section>

<section>
<blockquote>Er zitten verschillende mensen in de kamer op verschillende schermen (competing noise).</blockquote>
</section>

<section>
<blockquote>Ik wil de anderen in de treinwagon niet storen en heb geen oortjes bij.</blockquote>
</section>

<section>
<blockquote>Ik kijk op laag volume omdat mijn kindje slaapt maar dan versta ik de dialogen niet meer.</blockquote>
</section>

<section>
<blockquote>Chips.</blockquote>
</section>  

<section>
	<h2>Captions op sociale media</h2>
	<p>&nbsp;</p>
	<ul>
		<li><a href="https://training.anysurfer.be/nl/video/tuto.html">YouTube (tutorial)</a></li>
		<li><a href="https://www.facebook.com/help/261764017354370">Facebook</a></li>
		<li><a href="https://media.twitter.com/en/articles/blogs/2019/subtitles-now-available-in-ios-and-android">Twitter</a></li>
		<li><a href="https://newsroom.tiktok.com/en-us/introducing-auto-captions">TikTok (auto captions)</a></li>
		<li><a href="https://www.linkedin.com/help/linkedin/answer/93997/add-closed-captions-to-videos-on-linkedin?lang=en#:~:text=You%20can%20add%20closed%20captions%20when%20you%20share,Pages.%20To%20add%20closed%20captions%20to%20a%20video%3A">
			LinkedIn</a></li>
	</ul>
</section>
</section>

<!-- David blind -->

<section>
<section>
<p>David is blind en gebruikt een screenreader</p>
<img src="/tech/img/david.png" class="stretch" alt="David" />
</section>

<section>
<p>David</p>
<blockquote>Mijn espresso-apparaat werkt niet meer. Ik zoek een lokale verdeler. Op de website van de fabrikant staan geen adressen, enkel een kaart.</blockquote>
</section>

<section>
<img src="/tech/img/braille_leesregel.png" alt="Brailleleesregel met Mac OS X laptop" />
</section>

<section>
<img src="/tech/img/leesregeldetail.jpg" alt="leesregel ingezoomd op 6 braillepunten" />
</section>

<section>
<h2>Voorbeelden</h2>
<ul>
<li><a href="https://www.anysurfer.be/nl/documentatie/artikels/detail/hoe-mensen-met-een-handicap-een-computer-gebruiken">Demo</a></li>
<li><a href="http://www.speelgoedmuseum.be/">Grafische links</a></li>
<li><a href="http://trente.be/#menu">Taal fout ingesteld</a></li>
</ul>
</section>

<section>
<h2>Wat kan jij doen?</h2>
<ul>
<li>Geef afbeeldingen een beschrijvende tekst (alt tekst)</li>
<li>Voeg de juiste taalcode toe</li>
<li>Goede koppenstructuur</li>
</ul>
</section>

<section>
	<h2>Alt teksten op sociale media</h2>
	<p>&nbsp;</p>
	<ul>
		<li><a href="https://www.facebook.com/help/216219865403298">Facebook</a></li>
		<li><a href="https://help.twitter.com/en/using-twitter/picture-descriptions">Twitter</a></li>
		<li><a href="https://sosocialtheacademy.nl/instagram/waarom-je-altijd-een-alt-tekst-toe-moet-voegen-op-instagram/">Instagram</a></li>
		<li><a href="https://www.linkedin.com/help/linkedin/answer/109808/alternatieve-tekst-toevoegen-aan-afbeeldingen-voor-toegankelijkheid?lang=nl">LinkedIn</a></li>
		<li><a href="https://help.pinterest.com/nl/article/add-alternative-text-to-your-pins">Pinterest</a></li>
	</ul>
</section>
</section>
      
<!-- call to action -->
<section>
<section>
<h1>Denk aan ons!</h1>
<p><img src="http://images.anysurfer.be/lora/personas.jpg" alt="Groepsfoto persona's" /></p>
</section>
         
<section>
<ul>
<li>Mensen met een beperking willen meedoen in de digitale wereld.</li>
<li>Denk aan hen als je websites en apps maakt.</li>
<li>Toegankelijkheid maakt een verschil voor heel veel mensen.</li>
</ul>
</section>

<!-- wet, standaarden, AnySurfer en opdracht -->

<section>
<h1>Norm?</h1>
<ul>
<li><a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG)</a></li>
<li>Wettelijk verplicht voor alle overheidswebsites</li>
</ul>
</section>     

<section>
  <h2>Toegankelijkheid Belgische websites</h2>
  <p><img class="" src="https://www.toegankelijkheidsmonitor.be/staafdiagram-overzicht-20.svg" alt="staafdiagram met cijfers van de monitor van 2007 tot 2020"></p>
  <p>32% van Belgische websites voldoet aan minimale criteria. </p>
  </section>


<!--
  <section>
  <h2>Hoe komen we aan dit cijfer?</h2>
  <ul>
  <li><a href="https://www.anysurfer.be/nl/toegankelijkheidsmonitor">Toegankelijkheidsmonitor</a></li>
  <li>Steekproef Belgische websites</li>
  <li>Gescreend a.h.v. quickscan</li>
  <li>Door studenten webdesign of gelijkaardig</li>
  </ul>
  </section>

  <section>
  <h2>Deelnemende scholen</h2>
  <img alt="Logo's van scholen die deelnemen aan toegankelijkheidsmonitor" src="https://images.anysurfer.be/lora/Toegankelijkheidsmonitor 2020 - AnySurfer - Mozilla Firefox 2020-11-10 10.18.00.png">
  </section>
-->
  </section>
<!--
  <section>
  <section>
  <h1>Opdracht</h1>
  <ul>
  <li>Neemt ongeveer twee uur in beslag</li>
  <li><a href="https://student.anysurfer.be/nl">https://student.anysurfer.be</a></li>
  <li>Registreren</li>
  <li>Kies juiste school</li>
  <li>Wachtwoord vrij te kiezen. Vergeet het niet!</li>
  </ul>
  </section>
    
  <section>
  <h2>Deel 1: kwis</h2>
  <ul>
  <li>Tien meerkeuzevragen over 007</li>
  <li>Toelichting staat onder elke vraag</li>
  <li>Feedback na elk antwoord</li>
  <li>Fout antwoord is niet erg, maar probeer te begrijpen waarom</li>
  </ul>
  </section>

  <section>
  <h2>Deel 2: site screenen</h2>
  <ul>
  <li>Je kreeg random twee sites toegewezen om te screenen.</li>
  <li>15 criteria te beoordelen met OK/niet OK/niet van toepassing.</li>
  <li>Telkens is uitleg voorzien.</li>
  <li>In geval van niet ok: geef uitleg. Wat is het probleem en op welke pagina komt het voor?</li>
  </ul>
  </section>
</section>
-->

<section>
<section>
<h1>Wat kan jij doen?</h1>
</section>

<section>
<h2>Gebruik tab en enter</h2>
<ul>
<li>Werkt alles met het toetsenbord?</li>
<li>Focus goed zichbaar?</li>
</ul>
</section>

<section>
<h2>Tekstalternatieven</h2>
<ul>
<li>Alt-tekst bij afbeeldingen</li>
<li>Ondertitels bij filmpjes</li>
<li>Tekstversie bij podcast</li>
</ul>
</section>

<section>
<h2>Structuur en semantiek</h2>
<ul>
<li>Koppen</li>
<li>Lijsten</li>
<li>Sectioning elementen zoals header, main footer, nav ...</li>
</ul>
</section>

<section>
<h2>Template</h2>
<ul>
<li>Basistaal aangeven</li>
<li>Betekenisvolle paginatitels</li>
<li>Correcte broncode, HTML validator happy</li>
</ul>
</section>

<section>
<h2>Grafisch</h2>
<ul>
<li>Goede contrasten</li>
<li>Alles schaalt bij vergroting</li>
<li>Links en user interface componenten zijn goed zichtbaar</li>
</ul>
</section>

<section>
<h2>Inhoud</h2>
<ul>
<li>Klare taal</li>
<li>Geen "klik hier"</li>
<li>Duidelijke foutboodschappen bij formulieren</li>
</ul>
</section>

<section>
<h2>Niet te veel afleiding</h2>
<ul>
<li>Geluid start niet automatisch</li>
<li>Pauzeknop voor animaties</li>
<li>Geen flitsende inhoud of beelden</li>
</ul>
</section>

</section>

<section>
<h1>Contact</h1>
<ul>
<li><a href="mailto:info@anysurfer.be">info@anysurfer.be</a></li>
<li>Tel 02 210 61 49</li>
<li><a href="http://www.anysurfer.be/">www.anysurfer.be</a> (artikels, blog, nieuwsbrief ...)</li>
<li><a href="http://twitter.com/anysurfer">twitter.com/anysurfer</a></li>
</ul>
</section>



 </div>
  
</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>
<script src="http://cdn.anysurfer.be/js/jquery.js"></script>
<script src="js/custom.js"></script>
<script>

// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
controls: true,
progress: true,
history: true,
center: true,

theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
transition: 'default', // default/cube/page/concave/zoom/linear/fade/none

// Parallax scrolling
// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
// parallaxBackgroundSize: '2100px 900px',

// Optional libraries used to extend on reveal.js
dependencies: [
{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
]
});

</script>

</body>
</html>
